section.v-service
  .container
    .v-service__title.h3-title
      h3 Комплексный сервис
    .v-service__text.p-station
      p.
        <strong>Для безотказной работы системы</strong> мы предлагаем ежемесячное комплексное обслуживание.
      p.
        Наш специалист произведет плановый осмотр и вовремя выявит возможные поломки.
      p.
        <span>Первый месяц</span> после установки, техническое обслуживание производится <span>бесплатно</span>,
        для проверки качества нашей работы и знакомства с системой.
