section.v-adv
  .container
    .v-adv__header.h3-title
      h3 Преимущества работы с нами:
    .v-adv__list.list.list-red.block
      ul
        li.
          <span>Личный менеджер</span> будет закреплён за вами для оперативного
          получения информации по возникающим вопросам.
        li.
          <span>Консультации.</span> Наши технические эксперты помогут вам разобраться с работой
          с системой контроля на объекте.
        li.
          <span>Ремонт.</span> По вашей заявке мы отправим мастера для устранения неисправности
          оборудования, предварительно согласовав время.