section.v-func
  .container
    .v-func__text-block.text-station
      strong.
        Для создания безопасного пространства мы предлагаем
        установку систем наблюдения.
      span.
        Разрабатываем индивидуальные решения
      p.
        для внедрения оборудования на частной территории и на объектах крупного бизнеса.
  .v-func__wrapper
    .left-background
      img(src="img/storage.jpg", alt="storage")
    .container
      .v-func__list-block.right-container
        .v-func__title.h4-title
          h4 Основные функции систем наблюдения
        .v-func__list.icon-list.block
          ul
            li осуществление постоянного контроля контрольного участка;
            li сбор и сохранность записи до 1 года;
            li фиксирование движения в зоне видимости;
            li отслеживание оставленных предметов;
            li настройка удалённого доступа;
            li автоматизация и повышение эффективности работы служб безопасности;
            li выявление и предупреждение противоправных действий.
        .v-func__bottom.text-p
          p.
            <strong>Видеонаблюдение создано с применением современных технологий</strong>
            и даёт возможность вам наблюдать за объектами из любой точки Земли,
            главное, чтобы вы были подключены к всемирной сети.

