section.calling
  .container
    .calling__wrapper
      .calling__container
        .calling__logo
          include ../../components/header-logo
        .calling__proposall.big.up
          span.
            Не знаете, как выбрать карту?
        .calling__title
          h3 звоните!
          strong.
            Мы вам поможем!
.img-border.img-nonwidth.border-min(style="background-image: url(img/card-bottom.jpg)")