section.card-price.grey-bg
  .container
    .card-price__wrapper
      .card-price__title
        h4 Стоимость получения карт для тахографа (сроки):
      .card-price__table.left-group
        .table
          .table__col
            p Карта водителя для тахографа СКЗИ
          .table__col.table__right
            p от <span>3 000</span> руб. (от <span>10</span> рабочих дней)
        .table
          .table__col
            p Карта водителя для тахографа СКЗИ
          .table__col.table__right
            p от <span>3 000</span> руб. (от <span>10</span> рабочих дней)
        .table
          .table__col
            p Карта водителя для тахографа СКЗИ
          .table__col.table__right
            p от <span>3 000</span> руб. (от <span>10</span> рабочих дней)
        .table
          .table__col
            p Карта водителя для тахографа СКЗИ
          .table__col.table__right
            p от <span>3 000</span> руб. (от <span>10</span> рабочих дней)



