section.complex
  .container
    .complex__wrapper
      .complex__header.h4-title
        h4 В комплекс наших услуг входит:
      .complex__group.left-group.list
        ul
          li Оформление карт водителей для всех видов цифровых тахографов
          li Оформление карт предприятия для всех видов цифровых тахографов
          li Перевыпуск карт водителей
          li Разблокировка карточек водителей
          li Считывание и хранение данных с водительских карт для тахографа
      .complex__call.call-icon
        a(href="#") позвонить с сайта