section.drivers
  .container
    .drivers__full
      .drivers__header.h3-title
        h3 карты для водителей
      .drivers__text.text-block
        p.
          По внешнему виду карты напоминают водительские права с личными данными владельца и фотографией. Чип-карта
          применяется для идентификации водителя, передачи данных о графике его работы и другой персональной информации,
          считываемой тахографом.
        p.
          <strong>Данные, считанные тахографом,</strong> хранятся на карте в течение 28 дней, после чего выполняеткся
          обновление цикла перезаписи.
        p.
          <strong>Срок действия карты 3 года.</strong> До истечения срока водитель выполняет переоформление с
          возвратом старой карты производителю.
        p.
          <strong>Важно</strong> исполнять порядок получения и эксплуатации карты водителя. Нельзя передавать смарт-карту  другим лицам.
        p.
          Чип карта тахографа подлежит замене при изменении персональных данных водителя (Ф.И.О., Дата рождения).
        p.
          <span>При подаче заявки нужно обратить особое внимание на правильность написания персональных данных (номера
          водительского удостоверения, ФИО, даты рождения и т.д.).</span>
        p.
          Если карта оформляется для граждан другой страны следует дополнительно предоставить документ о временной
          регистрации в РФ и нотариально заверенный перевод документов.
    .drivers__row.left-flex.row.just-between
      .left-flex__item-left
        .drivers__row-title.h4-title.red-span
          h4 Карта водителя <span>СКЗИ</span>
        .drivers__row-text
          p Заказать карту водителя СКЗИ Вы можете если:
          ul
            li У вас установлен тахограф с блоком СКЗИ
            li Вы или ваши сотрудники выполняют рабочие рейсы на автомобиле в пределах России.
          p.
            Это простая пластиковая карта со встроенным микрочипом СКЗИ (блок криптозащиты).
            Перед началом рейса/смены водитель вставляет ее в специальное отверстие цифрового прибора
            и забирает после возвращения транспортного средства в парк.
      .left-flex__item-right
        img(src="img/SKZI_driver.png", alt="SKZI_driver")
    .drivers__row.left-flex.row.just-between
      .left-flex__item-left
        .drivers__row-title.h4-title.red-span
          h4 Карта водителя <span>ЕСТР</span>
        .drivers__row-text
          p.
            Европейская карта водителя для тахографа. Обязательна для полноценной работы
            контрольных приборов, устанавливаемых на автомобилях, совершающих перевозки
            международного назначения.
          p.
            Карта ЕСТР, как и СКЗИ, является персональной. В микрочипе содержатся данные о
            графике работы конкретного водителя, распорядке его труда и отдыха. При утрате либо
            повреждение следует подать заявление на повторную выдачу в той компании, где был получен
            первый образец.
      .left-flex__item-right
        img(src="img/SKZI_driver.png", alt="SKZI_driver")