section.enterprise
  .container
    .enterprise__header.h3-title
      h3 карты для предприятий
    .enterprise__text.text-block
      p.
        Внешне напоминает обычную банковскую карту, на которой отражены сведения о названии компании, адрес и
        персональные данные лица, ответственного за ее получение. Карты предприятия <strong>необходимы организациям,</strong>
        которые занимаются перевозками пассажиров и грузов.
      p.
        Оформляется юридическим лицам независимо от формы собственности и индивидуальным предпринимателям,
        зарегистрированным на территории РФ, которые осуществляют или планируют осуществлять перевозки ТС.
        Оформляется на имя руководителя предприятия или ответственного лица, назначенного приказом руководителя
        предприятия.
      p.
        Карта предприятия <strong>не является персональной</strong> и может использоваться для доступа к разным тахографам
        соответствующего образца. Предприятие может заказать несколько карт такого типа в соответствии с
        существующими потребностями.
      p.
        <strong>Данные</strong> на микрочипе карты не хранятся, она выступает в роли ключа, дающего доступ к информации,
        и предназначена для считывания, распечатки или блокировки данных цифрового тахографа.
      p.
        Дабы избежать возможной потери данных, мы рекомендуем сохранять информацию с карты на внешние носители
        через каждые 56 дней.
      p.
        <strong>Срок действия карты 5 лет.</strong>
      p.
        <strong>Выдача новой карты</strong> производится, когда срок действия старой закончен. Заявление об оформлении нового
        документа подается не позднее 15 суток до момента прекращения службы старой карточки.
      p.
        В законодательстве РФ нет требований, касающихся правил выгрузки информации с карт предприятия.
        По сути карта создана для контроля водителей транспортных средств.
      p.
        <span>Важно: карта предприятия может использоваться лишь в момент стоянки транспортного средства!</span>
      p.
        <span>Карточка требует бережного отношения, ее необходимо держать в чистоте и сухости, без прямого
        воздействия солнечных лучей и электромагнитных полей. Чип-карта ломкая, ее нельзя сгибать и
        пытаться свернуть.</span>
    .enterprise__bottom
      .enterprise__flex.right-flex.row.just-between
        .right-flex__item-left
          img(src="img/SKZI_company.png", alt="SKZI_driver")
        .right-flex__item-right
          .drivers__row-title.h4-title.red-span
            h4 Карта предприятия <span>СКЗИ</span>
          .drivers__row-text
            p.
              СКЗИ выдается организациям, юридическим лицам и частным предпринимателям,
              занятым в области грузовых и пассажирских перевозок, и работающих строго в пределах РФ.
            p.
              Если в распоряжении вашей компании нескольких автопарков, оптимальным вариантом
              будет купить карту предприятия для тахографа на каждого подразделение.
      .enterprise__flex.right-flex.row.just-between
        .right-flex__item-left
          img(src="img/ESTR_company.png", alt="SKZI_driver")
        .right-flex__item-right
          .drivers__row-title.h4-title.red-span
            h4 Карта предприятия <span>ЕСТР</span>
          .drivers__row-text
            p.
              Карта предприятия для европейского тахографа ЕСТР.  Предназначена для
              компаний, транспорт которых совершает рейсы и поездки за пределами РФ.
            p.
              Электронная чип-карта предназначена для контроля действий водителя со стороны
              владельца транспортного средства и автоматизации учета рабочего времени. Соответствует
              требованиям ЕСТР.

