section.process(style="background-image: url(img/Document_pi.jpg)")
  .container
    .process__wrapper
      .process__header
        h3 Процесс оформления документов <span>на изготовление карты для тахографа:</span>
      .process__list.left-group.list
        ul
          li Вы оставляете заявку на сайте или по телефону;
          li Наши сотрудники связываются с вами и получают необходимые документы (их копии);
          li Мы оформляем необходимые документы;
          li.
            Вы или ваш представитель забираете документ любым удобным способом:
            самовывоз из офиса/пунктов выдачи, доставка курьером или Почтой России.
