section.registr
  .container
    .registr__wrapper
      .registr__header.h3-title
        h3 Оформление карт В ооо «Кубань Техно Групп»
      .registr__content.row.just-between
        .registr__item.icon-item.start
          .icon-item__icon
            img(src="img/call_back_icon.png", alt="call_back_icon")
          .icon-item__text-block
            p.
              Специалисты нашей компании предоставляют необходимую
              консультацию по выдаче карточек ЕСТР и СКЗИ.
        .registr__item.icon-item.start
          .icon-item__icon
            img(src="img/services_icon.png", alt="services_icon")
          .icon-item__text-block
            p.
              Мы оказываем полный комплекс услуг по выдаче карт для тахографа,
              организуем их замену в соответствии с действующим законодательством.
        .registr__item.icon-item.start
          .icon-item__icon
            img(src="img/doc_icon.png", alt="doc_icon")
          .icon-item__text-block
            p.
              Помогаем с выбором и оформлением карт.
        .registr__item.icon-item.start
          .icon-item__icon
            img(src="img/process_icon.png", alt="process_icon")
          .icon-item__text-block
            p.
              Осуществляем оперативную обработку подаваемых заявок.