section.special
  .container
    .special__wrapper
      .left-flex.row.just-between
        .left-flex__item-left
          .special__title.h4-title
            h4 Специальные карты персонализации
          .special__text
            p.
              Применяются для обеспечения записи, сохранения и считывания информации из памяти установленного
              на автотранспорт тахографа.
            p.
              Принцип работы смарт-карты сравним с устройством чипованных банковских карт.
            p.
              Все виды смарт-карт являются персональными, с хранящимися на них личными данными конкретного
              водителя/предприятия и не подлежат использованию другими лицами.
            p.
              Заменить или скопировать чужую карту невозможно.
            p.
              В зависимости от вида тахографа карты водителя/предприятия могут быть
              европейского или российского образца.
        .left-flex__item-right
          img(src="img/special_card.png", alt="special_card")
      .special__bottom
        .special__red-title.red.title-size
          h4 СКЗИ и ЕСТР карты
        .special__txt
          p.
            <strong>СКЗИ</strong> – блок криптозащиты, в который записывается, а затем шифруется информация, полученная тахографом.
            Контрольные приборы такого типа законодательно разрешено использовать только на территории
            Российской Федерации.
          p.
            Осуществление рейсов за пределы России с таким тахографом запрещен. Доступ к информации
            записанной в блоке криптозащиты тахографа СКЗИ можно получить только, используя карту СКЗИ.
        .special__txt
          p.
            <strong>ЕСТР</strong> – это соглашение о грузовых и пассажирских перевозках на территории европейских стран.
            Тахографы, отвечающие этому соглашению, изготовлены в Европе и имеют сертификат ЕСТР.
          p.
            Карты ЕСТР работают только с тахографами ЕСТР.