section.top-banner(style="background-image: url(img/background_taho_card.jpg)")
  .container
    .top-banner__header.black.big
      h1 Карты водителя/предприятия
      span.
        для цифровых тахографов