section.about
    .container
        .about__wrapper
            h3.about__header О НАС
            .about__text-wrap
                .about__desc
                    p.
                        Более 10 лет мы успешно занимаемся проектами по контролю и оптимизации расходов
                         транспорта в различных сферах бизнеса. Разрабатываем прикладные решений для
                         государственных и коммерческих организаций. Помогаем нашим клиентам экономить
                         деньги и ресурсы от работы транспортных средств.
                .about__toggle.js-about
                    i.about__tiangle.js-tgl
                    p Подробнее...
                .about__hide.js-hide
                    p.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab explicabo fugiat
                        inventore quos reiciendis reprehenderit repudiandae saepe similique. Cupiditate ea
                        enim expedita hic inventore obcaecati quaerat voluptates! Expedita, iusto repellat.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab explicabo fugiat
                        inventore quos reiciendis reprehenderit repudiandae saepe similique. Cupiditate ea
                        enim expedita hic inventore obcaecati quaerat voluptates! Expedita, iusto repellat.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab explicabo fugiat
                        inventore quos reiciendis reprehenderit repudiandae saepe similique. Cupiditate ea
                        enim expedita hic inventore obcaecati quaerat voluptates! Expedita, iusto repellat.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab explicabo fugiat
                        inventore quos reiciendis reprehenderit repudiandae saepe similique. Cupiditate ea
                        enim expedita hic inventore obcaecati quaerat voluptates! Expedita, iusto repellat.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab explicabo fugiat
                        inventore quos reiciendis reprehenderit repudiandae saepe similique. Cupiditate ea
                        enim expedita hic inventore obcaecati quaerat voluptates! Expedita, iusto repellat.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab explicabo fugiat
                        inventore quos reiciendis reprehenderit repudiandae saepe similique. Cupiditate ea
                        enim expedita hic inventore obcaecati quaerat voluptates! Expedita, iusto repellat.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab explicabo fugiat
                        inventore quos reiciendis reprehenderit repudiandae saepe similique. Cupiditate ea
                        enim expedita hic inventore obcaecati quaerat voluptates! Expedita, iusto repellat.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab explicabo fugiat
                        inventore quos reiciendis reprehenderit repudiandae saepe similique. Cupiditate ea
                        enim expedita hic inventore obcaecati quaerat voluptates! Expedita, iusto repellat.