section.advantages
    .container
        h3.advantages__header ПРЕИМУЩЕСТВА
        .advantages__wrapper
            ul.advantages__list.row.just-between
                li.advantages__item
                    .advantages__icon.ain1
                    .advantages__text
                        .advantages__title
                            span 10 лет<br> на рынке
                        .advantages__txt
                            p.
                                Высокое качество услуг,<br> благодаря многолетнему<br> опыту
                li.advantages__item
                    .advantages__icon.ain2
                    .advantages__text
                        .advantages__title
                            span Высококвалифицированный<br> персонал
                        .advantages__txt
                            p.
                                Все работники<br>
                                имеют сертификаты по работе<br>
                                с криптошифрованием
                li.advantages__item
                    .advantages__icon.ain3
                    .advantages__text
                        .advantages__title
                            span Низкие<br> цены
                        .advantages__txt
                            p.
                                Не ищите у конкурентов – у нас<br> будет дешевле
                li.advantages__item
                    .advantages__icon.ain4
                    .advantages__text
                        .advantages__title
                            span Быстрое<br> реагирование
                        .advantages__txt
                            p.
                                Оперативные сроки поставки.<br> Выезды мастера на устранение<br> неисправностей
                li.advantages__item
                    .advantages__icon.ain5
                    .advantages__text
                        .advantages__title
                            span Широкий<br> комплекс услуг
                        .advantages__txt
                            p.
                                Тахография и мониторинг карты<br> водителя и сельхоз решения<br>
                                в одной компании.
                li.advantages__item
                    .advantages__icon.ain6
                    .advantages__text
                        .advantages__title
                            span Создание<br> специальных проектов
                        .advantages__txt
                            p.
                                Внедрение нестандартных решений<br> на крупных предприятиях
                li.advantages__item
                    .advantages__icon.ain7
                    .advantages__text
                        .advantages__title
                            span Уникальные предложения<br> для сельхоз производителей
                        .advantages__txt
                            p.
                                Полная автоматизациия<br> техпроцессов
                li.advantages__item
                    .advantages__icon.ain8
                    .advantages__text
                        .advantages__title
                            span Альтернативные<br> решения
                        .advantages__txt
                            p.
                                Варианты решений<br>
                                для нестандартной<br>
                                техники

