section.get
    .container
        h3.get__header РАБОТАЯ С НАМИ ВЫ ПОЛУЧАЕТЕ
        .get__wrapper
            .get__circle
                .get__icon.gin1
                    .get__text.txt1.
                        Оптимизация и упрощение<br> техпроцессов на вашем предприятии
                    .get_img.img1
                .get__icon.gin2
                    .get__text.txt2.
                        Увеличение прибыли<br>
                        за счёт экономии затрат<br>
                        на работу автопарка
                    .get_img.img2
                .get__icon.gin3
                    .get__text.txt3.
                        Контроль персонала
                    .get_img.img3
                .get__icon.gin4
                    .get__text.txt4.
                        Безопасность.<br>
                        Спутниковый контроль<br> автомобилей в дороге
                    .get_img.img4
                .get__icon.gin5
                    .get__text.txt5.
                        Техническая поддержка.<br> Сервисное обслуживание
                    .get_img.img5
            //mobile
            .get__circle--mob.row.just-center
                .get__icon--mob
                    .get__text--mob.
                        Оптимизация и упрощение<br> техпроцессов на вашем предприятии
                    .get_img--mob.img1
                .get__icon--mob
                    .get__text--mob.
                        Увеличение прибыли<br>
                        за счёт экономии затрат<br>
                        на работу автопарка
                    .get_img--mob.img2
                .get__icon--mob
                    .get__text--mob.
                        Контроль персонала
                    .get_img--mob.img3
                .get__icon--mob
                    .get__text--mob.
                        Безопасность.<br>
                        Спутниковый контроль<br> автомобилей в дороге
                    .get_img--mob.img4
                .get__icon--mob
                    .get__text--mob.
                        Техническая поддержка.<br> Сервисное обслуживание
                    .get_img--mob.img5
