section.glonas
    .container
        .glonas__text
            h3.glonas__header ЭРА-ГЛОНАСС
            span.glonas__resolution Постановление № 153 Рф
            p.glonas__desc Установка оборудования глонасс согласно постановлению правительства рф №153
            .glonas__button
                a.glonas__btn(href="#") подробнее

