section.request
    .container
        .request__wrapper
            .request__top
                h3.request__header ООО «Кубань Техно Групп»
                span.request__header-under.
                    Уникальные решения для каждого клиента. Широкая специализация.
                    Индивидуальная проработка проектов. Высококвалифицированный персонал.
            .request__bottom
                span.request__text.
                    Оставьте заявку на просчет Вашего решения.<br>
                    Будем рады помочь в решении даже очень сложного вопроса
                a.request__btn(href="#") оставить заявку
