section.scheme
    .container
        h3.scheme__header С ЧЕГО НАЧАТЬ?
            ul.scheme__block.row.just-between
                li.scheme__item
                    .scheme__icon.sic1
                    .scheme__title ОФОРМЛЕНИЕ<br> ЗАЯВКИ
                li.scheme__item
                    .scheme__icon.sic1
                    .scheme__title ОСМОТР<br> ТЕХНИКИ и<br> ПОЖЕЛАНИЙ<br> КЛИЕНТА
                li.scheme__item
                    .scheme__icon.sic1
                    .scheme__title РАЗРАБОТКА<br> РЕШЕНИЯ
                li.scheme__item
                    .scheme__icon.sic1
                    .scheme__title ОПЛАТА
                li.scheme__item
                    .scheme__icon.sic1
                    .scheme__title МОНТАЖ
                li.scheme__item
                    .scheme__icon.sic1
                    .scheme__title НАСТРОЙКА И<br> ОБСЛУЖИВАНИЕ