section.y-map
    .map.
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6a542381d69e1c09732a727cbda633de495035b93dc7efa12282d4380fe625ae&amp;width=100%25&amp;height=320&amp;lang=ru_RU&amp;scroll=true"></script>