section.calling
  .container
    .calling__wrapper
      .calling__container
        .calling__logo
          include ../../components/header-logo
        .calling__title
          h3 Звоните
        .calling__subtitle
          span И мы поможем вам
        .calling__main.strong-padg
          span.
            сделать бизнес более прибыльным, а перевозки безопасными!
.img-border.border-big(style="background-image: url(img/background__taxi_bottom.jpg")