section.hardware
  .container
    .hardware__title.h3-title
      h3 оборудование для такси и автомобилей в прокат
    .hardware__text.strong
      strong Мы предлагаем установку следующего оборудования:
    .hardware__list.hardware__list--show.row.just-between
      //1
      .item.item_column
        .item__title
          strong Терминал ГЛОНАСС/GPS <span>SAT-LITE 3</span>
        .item__txt
          span.
            Терминал поможет определить точное географическое положение автотранспортного средства.
            Также оборудование помогает осуществлять управление другими дополнительными внешними
            устройствами: динамиками, видеокамерой, микрофоном, тревожной кнопкой и др.
        .item__img
          img(src="img/SAT-LITE_3.png", alt="SAT-LITE_3")
        .item__price
          .price ЦЕНА от <span>478</span> <p>руб.</p>
      //2
      .item.item_column
        .item__title
          strong датчик <span>Omnicomm LLS-AF 20310</span>
        .item__txt
          span.
            Датчик измеряет уровень топлива в топливном баке автотранспортного средства и
            в стационарном топливохранилище. Используется для различных видов бензина,
            летнего и зимнего дизельного топлива и других жидких нефтепродуктов.
        .item__img
          img(src="img/Omnicomm_LLS-AF_20310_.png", alt="Omnicomm")
        .item__price
          .price ЦЕНА от <span>478</span> <p>руб.</p>
    .hardware__list--hide
      .hardware__list.row.just-between
        //3
        .item.item_column
          .item__title
            strong датчик <span>присутствия пассажира</span>
          .item__txt
            span.
              Этот датчик предоставит информацию о количестве пассажиров в салоне авто
              в конкретное время. Вы всегда будете знать, двигался автомобиль с пассажирами
              или вхолостую, и не было ли в кабине «лишних» людей.
          .item__img
            img(src="img/passenger_sensor.png", alt="passenger_sensor")
          .item__price
            .price ЦЕНА от <span>478</span> <p>руб.</p>
        //4
        .item.item_column
          .item__title
            strong Реле дистанционной  <span>блокировки двигателя</span>
          .item__txt
            span.
              Вы сможете на расстоянии заблокировать двигатель, если клиент не
              своевременно оплатил прокат авто или нарушил условия договора аренды автомобиля.
              Если же авто пытаются угнать, вы сможете заглушить двигатель на ходу.
          .item__img
            img(src="img/blocking_item2.png", alt="blocking_item2")
          .item__price
            .price ЦЕНА от <span>478</span> <p>руб.</p>
        //5
        .item.item_column
          .item__title
            strong <span>Тревожная кнопка</span>
          .item__txt
            span.
              Тревожная кнопка. Её может нажать водитель в случае экстренной ситуации,
              связаться с оператором и передать информация о необходимой помощи.
              При этом сразу определяется марка, цвет и местонахождение авто. Всё это
              оператор увидит на мониторе ПК.
          .item__img
            img(src="img/alarm_button.png", alt="alarm_button")
          .item__price
            .price ЦЕНА от <span>478</span> <p>руб.</p>
        //6
        .item.item_column
          .item__title
            strong <span>голосовая связь</span> с водителем
          .item__txt
            span.
              Комплект голосовой связи даст возможность всегда связаться и
              поговорить с водителем или с пассажиром.
          .item__img
            img(src="img/voice_communication.png", alt="voice_communication")
          .item__price
            .price ЦЕНА от <span>478</span> <p>руб.</p>
        //7
        .item.item_column
          .item__title
            strong <span>Видеонаблюдение</span>
          .item__txt
            span.
              Устанавливается в авто и помогает контролировать
              работу водителя и саму обстановку в салоне.
          .item__img
            img(src="img/CCTV.png", alt="CCTV")
          .item__price
            .price ЦЕНА от <span>478</span> <p>руб.</p>
    .about__toggle.js-about2
      i.about__tiangle.js-tgl2
      p Подробнее...


