section.tx-monitoring
  .container
    .tx-monitjring__header.h3-low
      h3 Система GPS/ГЛОНАСС мониторинга для такси и аренды автомобилей поможет сэкономить на перевозках
    .tx-monitoring__wrapper.row.just-between
      .item.item_row
        .item__icon
          img(src="img/Leader_icon.png", alt="Leader_icon")
        .item__text
          strong.
            Как остаться на плаву и преуспеть,
            несмотря на большую конкуренцию
            на рынке такси и проката авто?
      .item.item_row
        .item__icon
          img(src="img/Reduce_Costs_icon.png", alt="Reduce_Costs_icon")
        .item__text
          strong.
            Возможно ли сократить расходы
            на обслуживание таксомотороного парка?
    .tx-monitoring__text.strong.strong-big
      strong.
        <span>Мы предлагаем</span> установку системы контроля GPS/ГЛОНАСС.<br>
        Система устанавливается на легковые автомобили, микроавтобусы и на грузовые авто.
  .img-border(style="background-image: url(img/city_tx_background.jpg)")