section.tx-avantages
  .container
    .tx-advantages__header.h3-title
      h3 Преимущества установки GPS/ГЛОНАСС
    .tx-avantages__list.list
      ul
        li.
          Вы всегда можете узнать местоположение любого авто в режиме 24/7 с любого устройства,
          подключённого к интернету: смартфон, планшет, ПК.
        li.
          С установкой датчиков уровня топлива вы имеете возможность контролировать
          сколько топлива израсходовано, средние показатели, место заправки и слива.
        li.
          Система спутникового контроля Wialon даёт возможность контролировать скоростной режим всех авто на
          маршруте.
          При попытке превышения допустимой скорости вам приходит смс-уведомление на телефон и на Email.
          Также вы всегда можете получить отчёт, за интересующий период времени за текущий год.
        li.
          У вас всегда будет информация о том, когда фактически водитель посетил контрольную точку и
          совершил остановку.
          Часто водители грешат тем, что решаю личные вопросы в рабочее время.
          Это приводит к нарушению графиков поездок.
          Как следствие – на фирму приходят жалобы пассажиров, и часто клиенты уходят к конкурентам.
          ГЛОНАСС/GPS терминал поможет наладить работу автопарка и решить спорные моменты в случае
          конфликтов с гражданами.
  .img-border(style="background-image: url(img/auto_background.jpg)")
