section.tx-set.yellow-bg
  .container
    .tx-set__header.h3-title
      h3 Что вам даст установка системы контроля для такси:
    .tx-set__list.left-group.list
      ul
        li.
          Экономия на затратах топлива - до 30%.
        li.
          Экономия средств за счёт сокращения пробега - до 20 %.
        li.
          Экономия средств за счёт сокращения нецелевого
          использования транспортного средства - до 100%.
        li.
          Профилактика простоя техники.
        li.
          Контроль исполнения трудовой дисциплины водителями.
  .tx-set__line