section.usb-profit
  .usb-profit__img.left-background
    img(src="img/pic_USB.jpg", alt="pic_USB")
  .container
      .usb-profit__content.right-container
        .usb-profit__title.h4-title.h4-red
          h4 Что это вам даёт:
        .usb-profit__list.list.list-red
          ul
            li.
              <span>Прирост пассажиропотока.</span> Пассажиры, желающие быть на связи,
              предпочтут транспорт с розетками.
            li.
              <span>Преимущество перед конкурентами.</span> В России USB розетки в транспорте,
              пока довольно редкое явление.
        .usb-profit__small-list.icon-list
          p.
            В зависимости от типа салона и марки ТС, можно выбрать
            решение с таким видом крепления:
          ul
            li настенное;
            li пoручневое.;
        .usb-profit__small-list.icon-list
          p.
            По количеству USB портов розетки бывают:
          ul
            li с одним портом;
            li с двумя портами.
          p.
            Также можно выбрать прибор с подсветкой или без.