section.usb-socket
    .container
      .usb-socket__header.h3-title
        h3 компактная USB розетка
      .usb-socket__subheader
        strong <span>инновационное предложение</span> для владельцев автотранспорта
    .usb-socket__wrapper
      .usb-sockket__content
        .container
          .left-container
            .usb-socket__text
              p.
                Сейчас нельзя представить мир без гаджетов: смартфонов, планшетов, электронных книг.
              p.
                Посмотрите на людей в транспорте.
              p.
                Куда бы человек ни ехал, как правило, он не хочет просто праздно смотреть в окно.
                В мир больших скоростей и огромного потока информации, даже сидя в маршрутке можно
                проводить время с пользой: читать книгу, полезную статью, смотреть видеоролик,
                слушать аудиоуроки.
              p.
                А если вдруг мобильный телефон разрядился?
              p.
                Тогда это может стать серьёзной проблемой – нет возможности совершить важный звонок,
                или договориться о встрече.
            .usb-socket__bottom
              p.
                <strong>мы предлагаем</strong> cделать поездку пассажиров более комфортной установив<br>
                <strong>USB розетку</strong> на ваш транспорт.
              p.
                Чтобы всегда быть на связи человеку достаточно будет с собой иметь кабель для зарядки.
      .usb-socket__img.right-background
        img(src="img/pic_USB_people.jpg", alt="pic_USB_people")
