section.videocomplex
  .container
    .videocomlex__header.h3-title.red-span
      h3 Представляем <span>Videocomplex USBC2302y</span>
    .videocomplex__wrapper.row.just-between
      .videocomplex__left
        .videocomplex__top-text
          p.
            Прибор мощностью от 12V до 24V предназначен для установки в общественном транспорте.
        .videocomplex__list-block
          .videocomplex__list-title.h4-title
            h4 Преимущества устройства:
          .videocomplex__list.list.block
            ul
              li.
                универсальность – большинство гаджетов имеют USB разъём;
              li водостойкость;
              li защита от перегрузок;
              li защиты от попытки замкнуть контакты;
              li безопасность: есть предохранитель для защиты от поражения электрическим током.
              li универсальный дизайн: различное цветовое решение
              li.
                поручневое крепление, что удобно для установки в общественном транспорте:
                автобус, маршрутка, троллейбус, трамвай;
              li напряжение 5V, ток до 3А;
              li 2 USB разъёма;
              li защита от скачков напряжения;
              li антивандальный корпус.
      .videocomplex__right
        .videocomplex__img
          img(src="img/usb_2.png", alt="usb_2")
        .videocomplex__img
          img(src="img/usb_1.png", alt="usb_1")
    .videocomplex__txt
      p.
        <strong>Установив, USB розетку</strong> в маршрутном такси, рейсовом автобусе,
        вы поможете пассажиру быть всегда на связи. Поездка в транспорте оставит
        у него положительные эмоции.
      p.
        Так у вас появятся постоянные клиенты, которые приведут ещё десятки новых.
      p.
        Люди ценят заботу о них и, вложив один раз средства в оборудование авто,
        вы получите отдачу в виде увеличения пассажиропотока.
  .img-border(style="background-image: url(img/usb_background_bottom.jpg)")