section.calling
  .container
    .calling__wrapper
      .calling__container
        .calling-top__title
          h4 Весь комплекс позволит вам знать,
          span сколько фактически<br> работает каждая единица автопарка.
        .calling__logo
          include ../../components/header-logo
        .calling__title
          h3 Звоните
        .calling__subtitle
          span Мы разработаем
        .calling__main.strong-padg
          span.
            индивидуальное решение<br>
            и установим необходимое оборудование
          strong.
            Ваша техника под контролем!
.img-border.border-big(style="background-image: url(img/background__road_machinery.jpg")