section.get-data.grey-bg
  .container
    .get-data__wrapper
      .get_data__list.left-group.list
        .h4-title.bottom-line
          h4 Какие задачи помогает решить система ГЛОНАСС/GPS:
        ul
          li постоянный контроль местоположения и передвижения машин;
          li.
            вы будете знать точное количество израсходованного топлива, средние показатели расхода,
            объёмы, когда и где были сливы и заправки;
          li.
            отчёты о фактическом посещении клиентов и контрагентов,
            а также о времени погрузок и выгрузок строительных материалов;
          li.
            отчёты о фактическом посещении клиентов и контрагентов, а также о времени
            погрузок и выгрузок строительных материалов;
