section.how-work
  .left-background
    img(src="img/How_it_works_Background.jpg", alt="How_it_works_Background")
  .container
    .how-work__wrapper
      .how-work__right-container.right-container
        .how-work__title.red-h3.h3-title
          h3 Как это работает?
        .how-work__text.strong
          strong.
            На каждый контролируемый объект (трактор, грузовик, автокран, экскаватор,
            бульдозёр и др. строительную технику) устанавливаем систему
            наблюдения с GPS-датчиками.
        .how-work__list-title.h4-title
          h4 Какие датчики можно установить вместе с системой:
        .how-work__list.icon-list
          ul
            li.
              датчик работы механизмов, который позволяет контролировать
              положение и перемещения механических узлов. Вы сможете контролировать
              работу стрелы крана, бочки бетономешалки, экскаватора и другого
              строительного оборудования;
            li.
              датчик гидравлики для контроля давления в гидравлических системах;
            li.
              датчик моточасов, определяющий колебания и вибрации корпуса прибора,
              позволит определить время работы техники;
            li.
              датчик поднятия кузова, который даст информацию о
              выгрузке-загрузке самосвала.
        .how-work__text.text-p
          p.
            На ваш сервер будут приходить показания датчиков.
            Вам необходимо будет только создать личный кабинет, и вы сможете
            получать всю необходимую информацию. Доступ будет предоставлен
            с любого интернет-устройства.