section.tech_control
  .container
    .left-group
      .tech_control__title.h2-title
        h2 У вас нет возможности контролировать технику и работников?
      .tech_control__help
        strong.
          Водители решают личные проблемы в рабочее время?
          Контрагенты недовольны и грозят разорвать договорные отношения?
      .tech_control__proposal.red-txt.normal-font
        span.
          Мы предлагаем решение проблем с установкой ГЛОНАСС/GPS-терминалов.
      .tech_control__help
        strong.
          Водители решают личные проблемы в рабочее время?
          Контрагенты недовольны и грозят разорвать договорные отношения?
      .tech_control__list.left-group__list.list
        .h4-title
          h4 Какие задачи помогает решить система ГЛОНАСС/GPS:
        ul
          li постоянный контроль местоположения и передвижения машин;
          li.
            вы будете знать точное количество израсходованного топлива, средние показатели расхода,
            объёмы, когда и где были сливы и заправки;
          li.
            отчёты о фактическом посещении клиентов и контрагентов,
            а также о времени погрузок и выгрузок строительных материалов;
          li.
            отчёты о фактическом посещении клиентов и контрагентов, а также о времени
            погрузок и выгрузок строительных материалов;
.img-border(style="background-image: url(img/machinery_background.jpg)")