section.top-banner.truck(style="background-image: url(img/Road_construction_equipment.jpg)")
  .container
    .top-banner__header.black
      h1 Контроль<br> дорожно-строительной техники
      span с системой Глонас/GPS