section.what-get
  .container
    .what-get__wrapper
      .what-get__title.h3-title
        h3 Что вы получаете
      .what-get__list.double-list.icon-list
        ul
          li.
            Возможность увидеть на карте все контролируемые объекты, что даст вам
            возможность пресечь нецелевое использование техники.
          li.
            Контролируя активную работу техники и технологические перерывы,
            вы сможете пресечь имитацию работы со стороны сотрудников.
          li.
            Вы всегда будете знать, когда транспорт пересечёт зону контроля.
          li.
            Экономию за счёт соблюдения норм эксплуатации техники.
            Возможность произвести плановое ТО и заменить механизмы, учитывая
            реально отработанные моточасы.
          li.
            Информацию о сливе топлива, благодаря контролю уровня горючего в баке.
            Хищение топлива теперь в прошлом.
          li.
            Информацию о простое в работе и о длительном простое техники на холостом ходу.
          li.
            Информацию о проценте загруженности техники на конкретном объекте
            (по часам, дням и сменам) для оценки эффективного использования.
          li.
            Вы сможете оперативно среагировать на внештатную ситуацию благодаря моментальному
            оповещению системы Глонас/GPS.В уведомлении будут вся информация по проблемному
            объекту с его точным местоположением (отметкой на карте).

