section.t-adv
  .container
    .t-adv__text.p-mix
      p.
        Сейчас большинство транспортных компаний устанавливают видеонаблюдение на транспортные
        средства, согласно Указу Президента РФ «О создании комплексной системы обеспечения
        безопасности населения на транспорте»<br>
        № 403 от 31.03.2010 и Указу МВД №1523 от 22.02.2013.
      p.
        Перевозки становятся более безопасными, эффективными.
      p.
        Рентабельность повышается на 30%.
  .t-adv__wrapper
    .left-background
      img(src="img/pic_people.jpg", alt="storage")
    .container
      .t-adv__list-block.right-container
        .t-adv__list-title.h4-title
          h4 Преимущества установки видеонаблюдения:
        .t-adv__list.list.block
          ul
            li Возможность контроля соблюдения правил перевозки пассажиров;
            li Снижение риска опасного стиля вождения водителя;
            li Профилактика воровства выручки;
            li Невозможность нецелевого использования транспорта;
            li Осуществление правовой защиты водителя автобуса и пассажиров;
            li Нет возможности «левых» выплат сотрудникам органов;
            li Возможность контроля пассажиропотока.
