section.calling
  .container
    .calling__wrapper
      .calling__container
        .calling__logo
          include ../../components/header-logo
        .calling__title
          h3 Звоните
        .calling__subtitle
          span и мы поможем вывести ваш бизнес
        .calling__main.strong-padg
          strong.
            на новый более качественный уровень!