section.howwork
  .container
    .howwork__header.h3-title
      h3 Как работают системы на транспорте:
    .howwork__wrapper.row.just-between
      .howwork__item
        .howwork__icon(style="background-image: url(img/video_bus.png);")
        .howwork__text
          p.
            <span>Автобус.</span> Снижение риска  терактов.
            Профилактика правонарушений и борьба с безбилетниками.
      .howwork__item
        .howwork__icon(style="background-image: url(img/video_minibus.png);")
        .howwork__text
          p.
            <span>Маршрутка.</span> Повышение безопасности работы водителя и проезда пассажиров.
      .howwork__item
        .howwork__icon(style="background-image: url(img/video_t_taxi.png);")
        .howwork__text
          p.
            <span>такси.</span> Сокращение расходов по содержанию таксомоторного парка. Повышение доходов за
            счёт невозможности провоза «левых» пассажиров. Фиксация опасного стиля вождения и
            слива топлива. Урегулирование спорных ситуаций.

      .howwork__item
        .howwork__icon(style="background-image: url(img/video_truck.png);")
        .howwork__text
          p.
            <span>Грузовой транспорт.</span> Установка камер в кабине и в кузове даёт возможность
            контроля груза во время погрузок/разгрузок и транспортировки. Видеонаблюдение на
            спецтехнике повысит эффективность выполнения работ и их прозрачность. Профилактика
            воровства.
    .howwork__price
      .howwork__price-title.h3-title
        h3 Установка оборудования
      .price комплект видеонаблюдения от  <span>8000</span> <p>руб.</p>
  .img-border(style="background-image: url(img/transport.jpg)")

