section.t-profit
  .container
    .t-profit__header.h3-title
      h3 Почему выгодно работать с нами
    .t-profit__list.list.list-red.block
      ul
        li.
          <span>10 лет</span> мы успешно занимаемся проектами по контролю и оптимизации расходов транспорта в
          различных сферах бизнеса. Разрабатываем индивидуальные решения для государственных и
          коммерческих организаций.<br>
          Помогаем нашим клиентам экономить деньги и ресурсы на работе транспортных средств.
        li.
          <span>Адекватные цены.</span> По мнению клиентов за 2018 год, наша компания
          признана лучшей на рынке по соотношению цена/качество.
        li.
          <span>Высокая скорость реагирования.</span> Мы быстро свяжемся по любому удобному
          для вас каналу связи и согласуем время выезда техника.
        li.
          <span>Широкий охват.</span>  Мы работаем на территории Ростовской области,
          Краснодарского и Ставропольского края.
        li.
          <span>Поддержка.</span>  Всегда на связи с вами по техническим вопросам,
          бухгалтерии или персональным консультациям.
        li.
          <span>Оборудование.</span> У нас в арсенале только сертифицированные
          инструменты.