section.calling
    .container
        .calling__wrapper
            .calling__container
                .calling__logo
                    include ../../components/header-logo
                .calling__title
                    h3 Звоните
                .calling__subtitle
                    span Мы подскажем – как подключиться
                .calling__main.strong-padg
                    strong.
                        и настроить под ваши нужды<br>
                        решение на базе Wialon.
                    strong.
                        И уже завтра
                        вы начнете экономить на логистике!
.img-border.border-big(style="background-image: url(img/background_city.jpg)")