section.geozone
    .container
        .left-group
            .geozone__title.h3-title
                h3 Геозоны
            .geozone__strong.strong-padg
                strong.
                    При помощи Wialon вы настраиваете уведомления о входе контролируемого
                    объекта в геозону, а также выходе из неё.
                strong.
                    Это помогает контролировать посещение транспортом различных объектов.
            .geozone__img.image-full
                img(src="img/geozone_pic.jpg", alt="geozone_pic")



