section.monitoring
    .container
        .left-group
            .monitoring__main-title.h3-title.red-h3
                h3 Функционал
            .monitoring__title.h3-title
                h3 Мониторинг
            .monitoring__strong.strong-padg
                strong.
                    Перед вами всегда будет наглядная карта со списком контролируемых
                    объектов (для каждого ТС своя иконка).
                strong.
                    Для удобства можно объединять объекты контроля в группы.
            .monitoring__list.left-group__list.list
                .proposal__list.left-group__list.list.block
                    .h4-title
                        h4 Вам доступны различные онлайн карты:
                    ul
                        li Яндекс.Карты;
                        li GoogleMaps
                        li BingMaps;
                        li Maps и др...
            .monitoring__text.paragraf_pdg
                p.
                    Вам будет доступна подробная информация о ТС: показания цифровых датчиков, скорость,
                    маршрут, направление движения и т.п.
                p.
                    Не хотите, чтобы водитель превышал установленную скорость? Закажите у нас данную опцию,
                     и вы получите оповещение каждый раз, когда ТС будет ехать быстрее положенной скорости.
            .left-group__img(style="right: -300px;")
                img(src="img/pic_map.png", alt="pic_map")


