section.prices(style="background-image: url(img/Cost_Background.jpg);")
    .container
        .prices__title.h3-title.center
            h3 Геозоны
        .prices__strong.strong-cent.center
            strong.
                Стоимость подключения к программному
                 обеспечению Wialon зависит от спектра поставленных
                 задач и количества контролируемых объектов.
        .prices__images.row.just-arownd
            .prices__left
                .prices__logo
                    img(src="img/Logo_Wialon.png", alt="Logo_Wialon")
                    .prices__txt
                        span GPS/ГЛОНАСС
            .prices__right
                .prices__img
                    img(src="img/Laptop_Items.png", alt="Laptop_Items")