section.progsoft
    .container
        .left-group
            .progsoft__prop.w-red.
                С помощью нашего программного обеспечения <span>WIALON вы сократите расходы автопарка до 30%.<span>
            .progsoft__want
                .progsoft__strong.span-upr
                    span.
                        Хотите контролировать свой автотранспорт в режиме нон-стоп?
                    span.
                        Используйте современные технологии спутниковой связи<br>
                        для контроля скорости любого автомобиля, его местонахождения,<br> состояния горючего в баках.
                    span.
                        Мгновенно получайте оповещения,<br>
                        когда автомобиль прибыл в пункт назначения.
            .progsoft__icons
                .icons.row.just-between
                    .icons__icon(style="background-image: url(img/icon30.png);")
                    .icons__icon(style="background-image: url(img/24_icon.png);")
                    .icons__icon(style="background-image: url(img/sputnik_icon.png);")
                    .icons__icon(style="background-image: url(img/alert_icon.png);")
            .progsoft__icons-txt.strong-desc
                strong.
                    И это далеко не все возможности, которые предоставляет <span>Wialon.</span>
            .progsoft__modul
                .progsoft__modul-title.h4-title
                    h4 Модульный принцип работы и широкие возможности
                .progsoft__modul-txt.strong.strong-padg
                    strong.
                        В базовой комплектации вы получите картографический сервер и данные
                        о перемещениях вашего авто.
                    strong.
                        Однако расширить функционал вы можете в любое время заказав у нас подключение дополнительных датчиков и модулей.
            .left-group__img(style="right: -300px; top: 200px;")
                img(src="img/progsoft.png", alt="progsoft")
.img-border(style="background-image: url(img/We_Offer_background.jpg)")


