section.top-banner.citilog(style="background-image: url(img/city_background.jpg)")
    .container
        .top-banner__header.white.big
            h1 Городская логистика
            span программный комплекс Wialon