section.trecks(style="background-image: url(img/Tracks_background.jpg);")
    .container
        .left-group
            .trecks__title.h3-title
                h3 Треки
            .trecks__strong.strong-padg
                strong.
                    Для анализа уже совершенных поездок ПО позволяет посмотреть на карте
                    трек движения транспортного средства за различные интервалы времени.
                strong.
                    Также по вашему желанию на карте отобразятся места остановок, стоянок,
                    заправок, сливов топлива. Вы увидите в каком месте и сколько времени стояло
                    ТС и с какой скоростью двигалось на каждом промежутке трека.
                strong.
                    Всё это можно посмотреть для каждого вашего ТС
                    которое вы подключите к нам на обслуживание.



