section.axle(style="background-image: url(img/heavy_truck_background.jpg)")
    .duble
        .axle__wrapper
            .axle__title.h3-title.duble__title
                h3 Датчик контроля нагрузки на ось
            .axle__strong.strong.duble__strong
                strong.
                    Предлагаем комплекс с геонавигационной системой GPS/ГЛОНАСС,
                    который в режиме онлайн будет вам передавать данные о нагрузке на ось.
            .axle__list-block.duble__list-block
                .axle__list-title.duble__list-title.plus
                    span Такой датчик даёт вам возможность:
                .axele__list.duble__list.list
                    ul
                        li оптимально рассчитать загрузку фуры;
                        li исключить «левые» загрузки, благодаря непрерывному контролю изменений массы груза;
                        li контролировать время загрузок и разгрузок.
                .axle__icon
                .axle__text.duble__bottom-txt.red-txt
                    span.
                        Сотрудничая с операторами мобильной связи,
                        мы предлагаем возможность получения данных
                    span
                .axle__price-block
                    .price ЦЕНА от <span>478</span> <p>руб.</p>

