section.calling
    .container
        .calling__wrapper
            .calling__container
                .calling__logo
                    include ../../components/header-logo
                .calling__title
                    h3 Звоните и мы поможем
                .calling__main
                    strong.
                        сделаем вашу логистику
                    strong.
                        максимально безопасной
                    span.
                        и продлить срок эксплуатации транспортных средств!
.img-border(style="background-image: url(img/truk_background_bottom.jpg)")