section.emulator.grey-bg
    .container
        .emulator__title
            .db-title
                h2 Эмулятор <strong>AdBlue</strong>
                span для безопасно отключения мочевины на грузовом авто.
        .left-group
            .emulator__strong.strong-padg
                strong.
                    Монтаж эмулятора позволит двигателю не ограничивать мощность и обороты
                    из-за неисправной системы AdBlue SCR или отсутствия мочевины в баке AdBlue.
                strong.
                    Установка эмулятора  производится в кабину авто, что защищает прибор от влаги и пыли.
            .emulator__list.left-group__list.list.block
                .h4-title
                    h4 плюсы:
                    ul
                        li автомобиль внезапно не сбросит мощность;
                        li двигатель будет работать с заводскими программами <strong>EURO-4, EURO-5;</strong>
                        li любой компонент системы SCR можно демонтировать и продать;
                        li возможность удаления катализатора системы отработавших газов;
                        li возможность удаления катализатора системы отработавших газов;
            .emulator__txt.strong
                strong.
                    При этом вы сами сможете отключить эмулятор,
                    и система продолжит работу в штатном режиме.
            .emulator__price-block
                .price ЦЕНА от <span>478</span> <p>руб.</p>
            .left-group__img(style="right: -500px;")
                img(src="img/AdBlue_item.png", alt="AdBlue_item")
