section.motor
    .container
        .left-group
            .motor__title.h2-title
                h2 Удаленная блокировка двигателя
            .motor__strong.strong-padg
                strong.
                    Для надежной защиты прокатных автомобилей предлагаем идеальное
                    решение по удаленному контролю работы двигателя.
                strong.
                    Дополнительная опция в системе мониторинга транспорта.
            .motor__list.left-group__list.list.block
                .h4-title
                    h4 плюсы:
                    ul
                        li возможность дистанционного управления;
                        li возможность работы при критических температурных показателях (-50; +85 °С);
                        li возможность управления с телефона;
                        li возможность определения местоположения авто (точность до нескольких метров).
            .motor__price-block
                .price ЦЕНА от <span>478</span> <p>руб.</p>
            .left-group__img(style="right: -300px;")
                img(src="img/blocking_item.png", alt="blocking_item")
