section.press
    .container
        .left-group(style="width: 60%;")
            .press__title.h2-title
                h2 Система контроля давления в шинах
            .press__strong.strong-padg
                strong.
                    Недостаточное давление в покрышке приводит к излишнему расходу топлива и износу шины.
                strong.
                    Кроме того, недокачанная покрышка – это всегда риск ДТП на дороге:
                    при экстренном манёвре или торможении авто начинает уводить в сторону, шина может
                    слететь с диска, а машина просто перевернуться.
                strong.
                    Для предотвращения подобных ситуаций, мы предлагаем использовать систему контроля давления в шинах.
                    Датчики устанавливаются вовнутрь шины или на золотник.
            .press__list.lef-group__list.list.block.plus
                .h4-title
                    h4 Эти системы дадут вам возможность:
                ul
                    li экономить топливо и увеличить срок службы каркаса шины;
                    li.
                        предотвратить поломки, которые могут привести к простоям,
                        штрафам за опоздание и ухудшению репутации;
                    li экономить топливо и увеличить срок службы каркаса шины;
            .press__price-block
                .price ЦЕНА от <span>478</span> <p>руб.</p>
            .left-group__img(style="right: -415px;")
                img(src="img/tpms_item.png", alt="tpms_item")
