section.proposal
    .container
        .left-group
            .proposal__title.h2-title
                h2 мы предлагаем
            .proposal__prop.red-txt
                span.
                    увеличение прибыли за счёт сохранности груза и контроля<br>
                    транспортного средства.
            .proposal__service
                .h3-title
                    h3 Датчик термоконтроля
                .proposal__strong.strong-padg
                    strong.
                        Контроль температурного режима в грузовом отсеке необходим при перевозке
                        продуктов питания, лекарств и других скоропортящихся грузов.
                    strong.
                        Эту задачу решает датчик термоконтроля, который можно подключить дополнительной
                        опцией в составе системы мониторинга транспорта.
                .proposal__list.left-group__list.list.block
                    .h4-title
                        h4 Вы всегда сможете проконтролировать:
                    ul
                        li расположение ТС, соблюдение маршрута;
                        li скоростной режим ТС;
                        li пересечение контрольных зон - когда произведена погрузка и разгрузка;
                        li температуру в грузовом отсеке.
                .proposal__price-block
                    .price ЦЕНА от <span>478</span> <p>руб.</p>
            .left-group__img(style="right: -300px;")
                img(src="img/temperature_item.png", alt="temperature_item")
.img-border(style="background-image: url(img/truck_bord_background.jpg)")


