section.sr-control(style="background-image: url(img/roaming_background.jpg)")
    .duble
        .sr-control__wrapper
            .sr-control__title.h3-title.duble__title
                h3.
                    Контроль ТС за рубежом –
                    мониторинг в роуминге.
            .sr-control__strong.strong.duble__strong
                strong Мы поможем вам контролировать международные автомобильные перевозки.
            .sr-control__list-block.duble__list-block
                .sr-control__list-title.duble__list-title.plus
                    span Вы будете получать информацию о:
                .sr-control__list.duble__list.list
                    ul
                        li состоянии фур
                        li состояние грузов
                        li уровне топлива
                        li температурном режиме
            .sr-control__icons.duble__icons.row.just-between
                .sr-control__icon.src-icon1
                .sr-control__icon.src-icon2
            .sr-control__text.duble__bottom-txt.red-txt
                span.
                    Сотрудничая с операторами мобильной связи,
                    мы предлагаем возможность получения данных
                span.
                    по супервыгодному тарифу.

