section.sensor
    .container
        .sensor__wrapper
            .sensor__title.h2-title
                h2 Датчик открытия дверей кузова
            .sensor__strong.strong-padg
                strong.
                    Проблема кражи ценных товаров всегда актуальна: нападение на фуры, вскрытие прицепов.<br>
                    Сегодня кража груза – самый распространённый вид преступлений на дорогах.
                strong.
                    А если вы занимаетесь перевозкой грузов на заказ? Утрата чужого груза, согласитесь,
                    ситуация весьма неприятная.
            .sensor__problems
                .h4-title
                    h4 Для решения этой проблемы<br> мы предлагаем установку специальных датчиков.
                .strong
                    strong.
                        Датчик открытия двери устанавливается в прицепе и интегрируется в единую
                        систему мониторинга транспорта.<br> При попытке открыть двери извне возможно настроить
                        оповещение на телефон с предупреждаем о попытке взлома.
            .sensor__plus.plus
                span Датчик поможет решить следующие задачи:
                .sensor__items.row.just-between
                    .sensor__item
                        .sensor__icon.sr_icon1
                        .sensor__txt.icon-tx
                            p.
                                Обеспечение безопасности перевозок
                    .sensor__item
                        .sensor__icon.sr_icon2
                        .sensor__txt.icon-tx
                            p.
                                Соблюдение условий контракта
                                при перевозках фармацевтических препаратов, алкогольной и
                                табачной продукции и других «нежных» грузов
                    .sensor__item
                        .sensor__icon.sr_icon3
                        .sensor__txt.icon-tx
                            p.
                                Отслеживание доступа к грузу
            .sensor__price-block
                .price ЦЕНА от <span>478</span> <p>руб.</p>



