section.top-banner.truck(style="background-image: url(img/truck_background.jpg)")
    .container
        .top-banner__header.white
            h1 Ваша логистика под контролем!
            span мониторинг<br> грузового транспорта