ul.desc.row.just-between
    li.desc__item
        a.desc__link(href='/') Главная
    li.desc__item.js-sub Мониторинг транспорта
        ul.sub-menu
            li.sub-menu__item
                a.sub-menu__link(href="#") Сельхоз
            li.sub-menu__item
                a.sub-menu__link(href="#") Грузовые перевозки
            li.sub-menu__item
                a.sub-menu__link(href="#") Городская логистика
            li.sub-menu__item
                a.sub-menu__link(href="#") Дорожно строительная техника
            li.sub-menu__item
                a.sub-menu__link(href="#") Такси и прокат авто
            li.sub-menu__item
                a.sub-menu__link(href="#") Эра-Глонас
    li.desc__item.js-sub Тахография
        ul.sub-menu
            li.sub-menu__item
                a.sub-menu__link(href="#") Тахографы
            li.sub-menu__item
                a.sub-menu__link(href="#") Карты водителя\предприятия
            li.sub-menu__item
                a.sub-menu__link(href="#") Услуги сервисног цента
    li.desc__item.js-sub USB / HoReCa
        ul.sub-menu
            li.sub-menu__item
                a.sub-menu__link(href="#") USB на транспорте
            li.sub-menu__item
                a.sub-menu__link(href="#") Стационарные решения для баров и ресторанов
    li.desc__item.js-sub Видеонаблюдение
        ul.sub-menu
            li.sub-menu__item
                a.sub-menu__link(href="#") На стационарных объектах
            li.sub-menu__item
                a.sub-menu__link(href="#") На транспорте
    li.desc__item
        a.desc__link(href='#') Контакты