.mob-menu.js-mob
    .mob-menu__close.js-m-close
    .mob-menu__top.row.just-between
        .mob-menu__logo
            +img('mob-menu__img','logo_small.svg','logo_small')
        .mob-menu__info
            a.mob-menu__mail(href="mailto:office@kat.group") office@kat.group
            a.mob-menu__phone(href="tel:88632562233") 8 (863) 256-22-33
    .mob-menu__bottom
        .mob-menu__menu
            ul.desc
                li.desc__item
                    a.desc__link(href='/') Главная
                li.desc__item.js-sub_mob Мониторинг транспорта
                    ul.sub-menu__mob
                        li.sub-menu__item
                            a.sub-menu__link(href="#") Сельхоз
                        li.sub-menu__item
                            a.sub-menu__link(href="#") Грузовые перевозки
                        li.sub-menu__item
                            a.sub-menu__link(href="#") Городская логистика
                        li.sub-menu__item
                            a.sub-menu__link(href="#") Дорожно строительная техника
                        li.sub-menu__item
                            a.sub-menu__link(href="#") Такси и прокат авто
                        li.sub-menu__item
                            a.sub-menu__link(href="#") Эра-Глонас
                li.desc__item.js-sub_mob Тахография
                    ul.sub-menu__mob
                        li.sub-menu__item
                            a.sub-menu__link(href="#") Тахографы
                        li.sub-menu__item
                            a.sub-menu__link(href="#") Карты водителя\предприятия
                        li.sub-menu__item
                            a.sub-menu__link(href="#") Услуги сервисног цента
                li.desc__item.js-sub_mob USB / HoReCa
                    ul.sub-menu__mob
                        li.sub-menu__item
                            a.sub-menu__link(href="#") USB на транспорте
                        li.sub-menu__item
                            a.sub-menu__link(href="#") Стационарные решения для баров и ресторанов
                li.desc__item.js-sub_mob Видеонаблюдение
                    ul.sub-menu__mob
                        li.sub-menu__item
                            a.sub-menu__link(href="#") На стационарных объектах
                        li.sub-menu__item
                            a.sub-menu__link(href="#") На транспорте
                li.desc__item
                    a.desc__link(href='#') Контакты