//hide section
nav.small-nav.js-snav
    .container
        .row.just-between
            .small-nav__logo
                a(href="/")
                    +img('logo-small','logo_small.svg','logo_small')
            .nav-small
                include ../components/desc_menu
            .humb.js-menu
                .humb__line