extends libs/layout

block title
  title Template v3.5

block content
  //header
  include static/header

  //top banner section
  include includes/center/topbanner
  //center section
  include includes/center/center
  //proposal section
  include includes/center/proposal
  //install section
  include includes/center/install
  //construct section
  include includes/center/construct
  //table section
  include includes/center/table
  //planar section
  include includes/center/planar
  //alarm section
  include includes/center/alarm
  //set section
  include includes/center/center_set
  //solution section
  include includes/center/solution
  //callblock section
  include includes/center/callblock

  //footer
  include static/footer


