extends libs/layout

block title
    title Template v3.5

block content
    //header
    include static/header

    //contacts top
    include includes/contacts/ct_top
    //contacts
    include includes/contacts/contacts

    //footer
    include static/footer


