extends libs/layout

block title
    title Template v3.5

block content
    //header
    include static/header

    //era banner
    include includes/era/erabanner

    //era resolution
    include includes/era/resolution
    //era border image 1
    include includes/era/erabord1
    //era guide
    include includes/era/era_guide
    //era price
    include includes/era/era-price
    //era category
    include includes/era/era-cat
    //era border
    include includes/era/erabanner2
    //era set
    include includes/era/era-set

    //footer
    include static/footer


