extends libs/layout

block title
    title Template v3.5

block content
    //header
    include static/header

    //content
    include includes/index/banners
    //about
    include includes/index/about
    //advantages
    include includes/index/advantages
    //get
    include includes/index/get
    //solution
    include includes/index/solution
    //scheme
    include includes/index/scheme
    //glonas
    include includes/index/glonas
    //request
    include includes/index/request
    //y-map
    include includes/index/y-map

    //footer
    include static/footer


