extends libs/layout

block title
    title Template v3.5

block content
    //header
    include static/header

    //content
    include includes/index/banners
    //about
    include includes/index/about
    //advantages
    include includes/index/advantages
    //get
    include includes/index/get

    //footer
    include static/footer


