extends libs/layout

block title
    title Template v3.5

block content
    //header
    include static/header

    //top baner
    include includes/selhoz/sl_baner
    //aviation
    include includes/selhoz/aviation
    //agronav
    include includes/selhoz/agronav
    //meteo
    include includes/selhoz/meteo
    //control
    include includes/selhoz/control
    //integration
    include includes/selhoz/integration
    //call block
    include includes/selhoz/call-block

    //footer
    include static/footer


