extends libs/layout

block title
  title Template v3.5

block content
  //header
  include static/header

  //top banner
  include includes/taxi/top_banner
  //taxi monitoring
  include includes/taxi/tx-monitoring
  //taxi advantage
  include includes/taxi/tx_advantage
  //hardware
  include includes/taxi/hardware
  //tx-set
  include includes/taxi/tx_set
  //callblock
  include includes/taxi/call-block

  //footer
  include static/footer


