extends libs/layout

block title
  title Template v3.5

block content
  //header
  include static/header

  //top banner section
  include includes/transport/topbanner
  //advantege section
  include includes/transport/advantege
  //how work section
  include includes/transport/how_work
  //profit section
  include includes/transport/t-profit
  //callback section
  include includes/transport/callback


  //footer
  include static/footer


