extends libs/layout

block title
  title Template v3.5

block content
  //header
  include static/header

  //top banner section
  include includes/video_staz/topbanner
  //v_func section
  include includes/video_staz/v_func
  //variants section
  include includes/video_staz/variants
  //service section
  include includes/video_staz/service
  //v-advantage section
  include includes/video_staz/v-advantage
  //callblock section
  include includes/video_staz/callblock

  //footer
  include static/footer


