section.era-set
    .container
        h4.era-set__title.era-title Если ЭРА-ГЛОНАСС уже установлен
        .era-set__text
            p.
                До появления ПП № 153, ТС указанных категорий также нужно было оснащать терминалами ГЛОНАСС.
                Оснащение производилось и регулировалось следующими нормативными документами:
            ul
                li.
                    – ПП №641 от 25 августа 2008 года
                li.
                    – приказ Минтранса РФ от 31 июля 2012 г. № 285.
            p.
                В текущем постановлении учтен этот факт. Если на транспорте установлено оборудование ГЛОНАСС,
                то в него просто нужно установить SIM-карту ЭРА-ГЛОНАСС и произвести настройку АСН для передачи
                данных в систему ЭРА-ГЛОНАСС.
            p.
                Это условие выполнимо только в том случае, если ранее установленные терминалы
                ГЛОНАСС осуществляют передачу данных по протоколу EGTS (современные российские
                терминалы мониторинга транспорта его, как правило, поддерживают)
            h4.era-set__title.era-title Установка АСН с ЭРА-ГЛОНАСС согласно ПП № 153.
            .era-set__text
                p.
                    Новое оборудование АСН (трекеры) должно соответствовать требованиям технического регламента
                    Таможенного союза «О безопасности колесных транспортных средств» и иметь сертификаты соответствия
                    требованиям к навигационному оборудованию, которые прописаны в 117 пункте (форма “2с”) Приложения № 10
                    этого документа
                strong Более подробно о сертификатах на <a href="#">сайте</a> АО «ГЛОНАСС». <a href="#">Скачать .pdf</a>
            .era-set__text
              p.
                  На текущий момент наша компания принимает предзаказы на оборудование и установку на ТС согласно ПП №153.
            .era-set__text
                p.
                    ООО «ЭРА-ГЛОНАСС» входит в перечень представительств агента АО «ГЛОНАСС» ООО «ГЛОСАВ», имеющего право заключать
                    от имени и за счет АО «ГЛОНАСС» с собственниками транспортных средств договоры на оказание услуг
                    по идентификации аппаратуры спутниковой навигации в Государственной автоматизированной информационной
                    системе «ЭРА-ГЛОНАСС» и обеспечению определения и передачи информации в Ространснадзор,
                    включая договоры на оказание услуг связи.
            .era-set__strong
               strong Полный список документов, доступных для скачивания смотрите на <a href="#">сайте</a> АО «ГЛОНАСС»



