section.price.grey-bg
    .container
        h3.price__title Стоимость установки и цена оборудования АСН ГЛОНАСС/GPS:
        .price__text
            p Оборудование АСН – от <span>20 000</span> руб.
            p Установка, настройка – от <span>20 000</span> руб.
            p Стоимость USIM –  зависит от количества ТС
