section.era-guide
    .container
        h4.era-guide__title Краткая инструкция по установке оборудования согласно ПП №153 и получению USIM карты:
        .era-guide__items.row.just-between
            .era-guide__left
                .era-guide__item.row.just-between
                    .era-guide__icon
                        img(src="img/era_buy.jpg", alt="era_buy")
                    .era-guide__text
                        p.
                            Приобретение оборудования АСН ЭРА ГЛОНАСС, соответствующего требованиям ПП №153
                            (сертификат ТР ТС 018/2011 по форме 2С);
                .era-guide__item.row.just-between
                    .era-guide__icon
                        img(src="img/era_card.jpg", alt="era_card")
                    .era-guide__text
                        p.
                            Получение USIM карты ГАИС ЭРА ГЛОНАСС;
                .era-guide__item.row.just-between
                    .era-guide__icon
                        img(src="img/era_partner.jpg", alt="era_partner")
                    .era-guide__text
                        p.
                            Передача USIM карты официальному партнеру для активации и идентификации
                            в системе ГАИС ЭРА ГЛОНАСС
                            (с передачей данных в  Ространснадзор);
            .era-guide__right
                .era-guide__item.row.just-between
                    .era-guide__icon
                        img(src="img/era_install.jpg", alt="era_install")
                    .era-guide__text
                        p.
                            Установка у официального партнера оборудования АСН ЭРА ГЛОНАСС;
                .era-guide__item.row.just-between
                    .era-guide__icon
                        img(src="img/era_ident.jpg", alt="era_ident")
                    .era-guide__text
                        p.
                            Получение у официального партнера подтверждение идентификации в
                            электронном виде либо на бумажном носителе.
        .era-guide__bottom
            .era-guide__strong
                strong.
                    Более подробную инструкцию собственнику (владельцу) ТС вы можете
                    посмотреть на <a href="#">сайте</a> АО «ГЛОНАСС».
            .era-guide__res
                p.
                    <strong>Постановление вступило в силу 15.04.2018</strong> и тем, кто не установил оборудование,
                    необходимо оснаститьтранспорт аппаратурой АСН ГЛОНАСС/GPS с SIM картами ЭРА-ГЛОНАСС.



