section.resolution
    .container
        h3.resolution__title.
            Постановление Правительства Российской Федерации
            от 13.02.2018 г. № 153
        .about__text-wrap
            .about__desc
                p.resolution__txt.
                    Постановление Правительства № 153 от 13 февраля 2018 года, добавило требования к оборудованию
                    транспортных средств, выполняющих перевозку опасных грузов и пассажиров
                     (категории M2, M3, N1, N2, N3) устройствами (АСН терминалами)
                     ГЛОНАСС/GPS с SIM картами ЭРА-ГЛОНАСС.
                p.resolution__txt.
                    Если оборудование (аппаратура спутниковой навигации) было установлено до 13.04.2018
                    (приборы должны поддерживать протокол передачи данных EGTS), то требуется только установить
                    сим карту ЭРА-ГЛОНАСС, так указано в ПП №153. Необходимые данные через USIM-карту системы
                    ЭРА-ГЛОНАСС будут передаваться в Ространснадзор.
            .about__toggle.js-about
                i.about__tiangle.js-tgl
                p Подробнее...
            .about__hide.js-hide
                p.resolution__txt.
                    Комментарии к постановлению Правительства Российской Федерации от 13 февраля 2018 г. № 153 Об
                    утверждении Правил оснащения транспортных средств категорий М2, М3 и транспортных средств категории
                    N, используемых для перевозки опасных грузов, аппаратурой спутниковой навигации ГЛОНАСС или
                    ГЛОНАСС/GPS.
                p.resolution__txt.
                    Постановлением Правительства Российской Федерации от 13 февраля 2018 г. № 153 утверждены Правила
                    оснащения транспортных средств категорий М2, М3 и транспортных средств категории N, используемых
                    для перевозки опасных грузов, аппаратурой спутниковой навигации ГЛОНАСС или ГЛОНАСС/GPS
                    (далее – Правила).
                p.resolution__txt.
                    В соответствии п 3. Правил, транспортные средства подлежат оснащению работоспособной аппаратурой
                    спутниковой навигации (далее – АСН), отвечающей следующим требованиям:
                ul
                    li
                        p.resolution__txt.
                            а) соответствует <strong>требованиям технического регламента;</strong>
                    li
                        p.resolution__txt.
                            б) обеспечивает определение и <strong>передачу в Федеральную службу по надзору в сфере транспорта
                            информации</strong> о географической широте и долготе местоположения транспортного средства, его путевом
                            угле и скорости движения, времени и дате фиксации местоположения транспортного средства с интервалом
                            передачи не более 30 секунд <strong>через Государственную автоматизированную информационную систему
                            «ЭРА-ГЛОНАСС»</strong> (далее — система «ЭРА-ГЛОНАСС»);
                    li
                        p.resolution__txt.
                            в) предусматривает <strong>наличие персональной универсальной идентификационной карты абонента,</strong> содержащей
                            профиль сети подвижной радиотелефонной связи, обеспечивающей функционирование системы «ЭРА-ГЛОНАСС».
                p.resolution__txt.
                    Согласно вышеизложенному, <strong>транспортные средства подлежат оснащению АСН с установленными в них
                    SIM-картами сети подвижной радиотелефонной связи, обеспечивающей функционирование системы
                    «ЭРА-ГЛОНАСС»,</strong> для передачи информации в систему «ЭРА-ГЛОНАСС».
                p.resolution__txt.
                    В соответствии с п.4. Правил, в отношении аппаратуры спутниковой навигации, которая установлена на
                    транспортные средства до даты вступления в силу настоящих Правил, обеспечивается ее идентификация в
                    системе «ЭРА-ГЛОНАСС»». То есть, если транспортное средство оснащено АСН до 14 апреля 2018 г., то
                    перевозчику необходимо установить SIM-карту «ЭРА-ГЛОНАСС» в АСН и произвести настройку АСН для
                    передачи данных в систему «ЭРА-ГЛОНАСС». С момента вступления в силу постановления Правительства
                    Российской Федерации от 13 февраля 2018 г. № 153 транспортные средства категорий М2, М3 и
                    транспортные средства категории N, используемые для перевозки опасных грузов, должны оснащаться
                    АСН, имеющей сертификат соответствия требованиям технического регламента Таможенного союза
                    «О безопасности колесных транспортных средств» (ТР ТС 018/2011).
                p.resolution__txt.
                    Система «ЭРА-ГЛОНАСС» принимает и обрабатывает данные от АСН в соответствии со спецификацией
                    протоколов, предусмотренных Межгосударственным стандартом ГОСТ 33472-2015 «Глобальная навигационная
                    спутниковая система. Аппаратура спутниковой навигации для оснащения колесных транспортных средств
                    категории М и N. Общие технические требования».
                p.resolution__txt.
                    Система «ЭРА-ГЛОНАСС» имеет техническую возможность передачи навигационной информации в систему
                    мониторинга, используемую собственником транспортных средств на текущий момент, с использованием
                    различных межсерверных протоколов.
                p.resolution__txt.
                    <strong>Все информация, поступившая от АСН, из системы «ЭРА-ГЛОНАСС» будет передаваться в Ространснадзор.</strong>
                p.resolution__txt.
                    Доступ для перевозчиков к автоматизированной системе мониторинга «АСМ ЭРА» будет предлагаться
                    как дополнительный сервис.

