.footer
  width: 100%
  background: $textDefualt
  box-sizing: border-box
  padding-top: 24px
  p
    color: $textFoot
    font-family: $semi
    font-size: 14px
    font-weight: 400
  a
    font-family: $semi
    font-size: 14px
    color: $textFoot
  &__logo
    width: 52px
  &__adress
    width: proc(236,1170)
  &__schedule
    width: proc(115,1170)
  &__call
    width: proc(170,1170)
  &__map
    width: proc(260,1170)
    &-link
      text-decoration: underline
      &:hover
        text-decoration: none
  &__title
    text-transform: uppercase
    font-family: $semi
    font-size: 14px
    color: $textFoot
  &__copyright
    padding-top: 36px
    padding-bottom: 23px