.contacts-top
    .container
        .container-min
            .contacts-top__wrapper
                h1.contacts-top__title контакты <span class="contacts-top__dot"></span> компания ООО «кубань Техно групп»