secton.board
  .board__wrapper
    .container
      .left-container
        .board__title.h3-title
          h3 Табло вызова официанта
        .board__text
          p Оборудование работает в комплексе с системой вызова официанта.
        .board__list-title.h4-title
          h4 Особенности работы:
        .board__list.list.block
          ul
            li.
              Сигнал поступает напрямую с кнопки вызова. На табло отображается номер столика,
              с которого поступил вызов.<br>
              На экране видно 3 номера.
            li.
              Возможность настройки мелодии вызова, поддержка 12 различных мелодий.
            li.
              Удаление вызова в автоматическом и ручном режиме.
            li.
              Простой монтаж. Возможность установки табло на столе у менеджера или на стене в баре.
    .board__img.right-background
      img(src="img/pic_Сoffee.jpg", alt="pic_Сoffee")
  .board__models
    .container
      .object
        ul
          li
            .object__title
              strong Комплект вызова официанта
            .object__model
              strong модель 1
            .object__desc
              p.
                Табло отображает на экране номера столиков, с которых осуществлялся вызов.
            .object__img
              img(src="img/Call_Board.png", alt="set")
            .object__price
              .price Цена от <span>1000</span><p>руб.</p>
          li
            .object__title
              strong Комплект вызова официанта
            .object__model
              strong модель 2
            .object__desc
              p.
                Табло отображает на экране 3 последних номера столиков, с которых осуществлялся вызов.
            .object__img
              img(src="img/Call_Board.png", alt="set")
            .object__price
              .price Цена от <span>1000</span><p>руб.</p>
          li
            .object__title
              strong Комплект вызова официанта
            .object__model
              strong модель 3
            .object__desc
              p.
                Табло отображает на экране номера столиков, с которых осуществлялся вызов.
            .object__img
              img(src="img/Call_Board.png", alt="set")
            .object__price
              .price Цена от <span>1000</span><p>руб.</p>


