section.charger
  .container
    .charger__header.h3-title
      h3 Настольное зарядное устройство с меню
    .charger__text.text-block
      p.
        Предлагаем установку зарядного устройства с держателем меню/рекламы, которое обеспечивает
        зарядку до <span>4 мобильных устройств в одно время.</span>
      p.
        Клиент захочет посидеть подольше у вас и сделать дополнительный заказ, пока заряжается его смартфон.
      p.
        Оборудование будет отличным дополнением к качественному обслуживанию и вкусной еде.
    .charger__advantage.row.just-between
      .charger__left
        .charger__left-title.h4-title
          h4 Преимущества:
        .charger__list.list.block
          ul
            li.
              Возможность ненавязчиво поместить рекламу перед глазами посетителей.
            li.
              Дополнительный сервис, который привлечёт новых клиентов.
            li.
              Клиент захочет побыть подольше у вас и сделать дополнительный заказ.
            li.
              Совместимость с любым современным девайсом.
            li.
              Безопасность (напряжение 5В).
            li.
              На поверхность подставки можно нанести свой логотип.
      .charger__right
        .charger__img
          img(src="img/Charger_black.png", alt="Charger_black")
  .charger__offer
    .container
      .object
        ul
          li
            .object__title
              strong Зарядное устройство
            .object__model
              strong наименование товара <span>+ рекламная стойка</span>
            .object__desc
              p.
                Емкость 6000, 10000 либо 13000 мАч. Выход: 5В/2,1 А.
                Антивандальный трос против кражи.
                4 USB порта.
                Индикатор состояния зарядки/разрядки. Зарядка от сети/USB.
                Несколько цветов на выбор.
            .object__img
              img(src="img/Charger.png", alt="set")
            .object__price
              .price Цена от <span>1000</span><p>руб.</p>
          li
            .object__title
              strong Зарядная станция
            .object__model
              strong наименование товара
            .object__desc
              p.
                Одновременная зарядка до 4х зарядных
            .object__img
              img(src="img/Charging_station.png", alt="set")
            .object__price
              .price Цена от <span>1000</span><p>руб.</p>
          li
            .object__title
              strong Зарядное устройство
            .object__model
              strong наименование товара <span>+ рекламная стойка</span>
            .object__desc
              p.
                Емкость 10000 мАч.
                Выход: 5В/2,1 А. 2 USB порта.
                LED подсветка. Цвет: черный.
            .object__img
              img(src="img/Charger.png", alt="set")
            .object__price
              .price Цена от <span>1000</span><p>руб.</p>
          li
            .object__title
              strong Зарядное устройство
            .object__model
              strong наименование товара <span>(сенсорный экран)</span>
            .object__desc
              p.
                Емкость 13000 мАч.
                Выход: 5В/2,4 А. 3 USB порта.
                Сенсорный экран меню. Поддержка быстрой зарядки QC 3.0. WI-FI.
            .object__img
              img(src="img/Charger2.png", alt="set")
            .object__price
              .price Цена от <span>1000</span><p>руб.</p>
          li
            .object__title
              strong Зарядное устройство
            .object__model
              strong наименование товара <span>(Qi зарядная панель)</span>
            .object__desc
              p.
                Емкость 10000, 20000 мАч.
                Выход: 5В/2,4 А. 4 USB порта.
                Панель беспроводной зарядки Qi. Индикатор состояния зарядки/разрядки.
                Несколько цветов на выбор.
            .object__img
              img(src="img/Qi_charging_panel.png", alt="set")
            .object__price
              .price Цена от <span>1000</span><p>руб.</p>


