section.clients
  .clients__wrapper
    .clients__img.left-background
      img(src="img/pic_Cafe.jpg", alt="pic_Cafe")
    .container
      .clients__right.right-container
        .clients__header.h3-title
          h3 Система оповещения клиентов
        .clients__text.text-block
          p.
            <strong>Это решение подходит для фаст-фудов, кафе и ресторанов самообслуживания.</strong>
            Для слаженности работы заведения, мы предлагаем установку системы оповещения клиентов.
          p.
            Вы предоставляете клиенту возможность комфортного ожидания готовности заказа за столиком,
            а не стоя в очереди.
          p.
            А кассиру нет необходимости выкрикивать номер чека.
        .clients__list-title.h4-title.h4-red
          h4 Как это работает?
        .clients__list.list.block
          ul
            li.
              Клиенту выдаётся пейджер после совершения заказа.
            li.
              Когда блюдо будет готово, сотрудник оповестит клиента,
              нажав кнопку вызова с его номером.
            li.
              Пейджер даст знать клиенту о том, что можно забрать заказ.
.clients__offer
  .container
    .object
      ul
        li
          .object__title
            strong Комплект вызова официанта
          .object__model
            strong модель 1
          .object__desc
            p.
              Состоит из базового блока
              и 16 пейджеров.
          .object__img
            img(src="img/Customer_Alert_System.png", alt="set")
          .object__price
            .price Цена от <span>1000</span><p>руб.</p>
        li
          .object__title
            strong Комплект вызова официанта
          .object__model
            strong модель 2
          .object__desc
            p.
              Состоит из базового блока и 10 пейджеров. Поддерживает до 999 шт.
          .object__img
            img(src="img/Customer_Alert_System.png", alt="set")
          .object__price
            .price Цена от <span>1000</span><p>руб.</p>
        li
          .object__title
            strong Комплект вызова официанта
          .object__model
            strong модель 3
          .object__desc
            p.
              Состоит из базового блока и 10 пейджеров. Поддерживает до 999 шт.
          .object__img
            img(src="img/Customer_Alert_System.png", alt="set")
          .object__price
            .price Цена от <span>1000</span><p>руб.</p>


