section.garson
  .container
    .garson__header.h3-title
      h3 Система вызова официанта
    .garson__text.paragraf_pdg
      p.
        Кнопка вызова официанта - находка для тех, кто желает усовершенствовать свой бизнес, сделать его более
        рентабельным, и заботится об удобстве клиента.
      p.
        Система оповещения клиентов, которая сделает обслуживание ваших гостей оперативным и качественным.
      p.
        Посетитель имеет возможность вызвать официанта, нажав на кнопку, которая расположена на его столе.
        Сигнал поступает на пейджер официанта или на табло вызовов.
  .garson__get
    .garson__img.left-background
      img(src="img/pic_Waiter_.jpg", alt="pic_Waiter_")
    .container
      .garson__right.right-container
        .garson__title_list.h4-title
          h4 Качественные характеристики прибора:
        .garson__list.list.list-red.block
          ul
            li.
              <span>Надежная связь</span> с приёмником сигнала. При настройке за кнопкой сохраняется
              конкретный номер в памяти приемника.
            li.
              <span>Простой монтаж</span> - кнопка фиксируется на поверхности с помощью
              двустороннего скотча или шурупов.
            li.
              <span>Простая замена аккумулятора.</span> Замена батареи производится специальным ключом,
              который поставляется в комплекте. Срок службы аккумулятора в среднем составляет 1 год.
            li.
               <span>Индикация вызова.</span> Кнопка оснащена красным индикатором, который сообщает
               о том, что вызов поступил на приёмник сигнала - официант скоро подойдет.
            li.
              <span>Ваш логотип.</span> Изготовим индивидуальное решение.
            li.
              <span>Поддержка русского языка.</span> В наручных пейджерах установлен русский язык.
  .garson__models
    .container
      .object
        ul
          li
            .object__title
              strong Комплект вызова официанта
            .object__model
              strong модель 1
            .object__desc
              p.
                В комплекте: кнопка для вызова официанта, и наручный
                пейджер с приемом сигнала от столика.
            .object__img
              img(src="img/set.png", alt="set")
            .object__price
              .price Цена от <span>1000</span><p>руб.</p>
          li
            .object__title
              strong Комплект вызова официанта
            .object__model
              strong модель 2
            .object__desc
              p.
                В комплекте: кнопка для вызова официанта, и наручный
                пейджер с приемом сигнала от столика.
            .object__img
              img(src="img/set.png", alt="set")
            .object__price
              .price Цена от <span>1000</span><p>руб.</p>
          li
            .object__title
              strong Комплект вызова официанта
            .object__model
              strong модель 3
            .object__desc
              p.
                В комплекте: кнопка для вызова официанта, и наручный
                пейджер с приемом сигнала от столика.
            .object__img
              img(src="img/set.png", alt="set")
            .object__price
              .price Цена от <span>1000</span><p>руб.</p>
          li
            .object__title
              strong Комплект вызова официанта
            .object__model
              strong модель 4
            .object__desc
              p.
                В комплекте: кнопка для вызова официанта, и наручный
                пейджер с приемом сигнала от столика.
            .object__img
              img(src="img/Call_Button.png", alt="set")
            .object__price
              .price Цена от <span>1000</span><p>руб.</p>
          li
            .object__title
              strong Комплект вызова официанта
            .object__model
              strong модель 5
            .object__desc
              p.
                В комплекте: кнопка для вызова официанта, и наручный
                пейджер с приемом сигнала от столика.
            .object__img
              img(src="img/Call_Button.png", alt="set")
            .object__price
              .price Цена от <span>1000</span><p>руб.</p>
          li
            .object__title
              strong Комплект вызова официанта
            .object__model
              strong модель 6
            .object__desc
              p.
                В комплекте: кнопка для вызова официанта, и наручный
                пейджер с приемом сигнала от столика.
            .object__img
              img(src="img/Call_Button.png", alt="set")
            .object__price
              .price Цена от <span>1000</span><p>руб.</p>
          li
            .object__title
              strong Комплект вызова официанта
            .object__model
              strong модель 7
            .object__desc
              p.
                В комплекте: кнопка для вызова официанта, и наручный
                пейджер с приемом сигнала от столика.
            .object__img
              img(src="img/Pager.png", alt="set")
            .object__price
              .price Цена от <span>1000</span><p>руб.</p>
          li
            .object__title
              strong Комплект вызова официанта
            .object__model
              strong модель 8
            .object__desc
              p.
                В комплекте: кнопка для вызова официанта, и наручный
                пейджер с приемом сигнала от столика.
            .object__img
              img(src="img/Pager.png", alt="set")
            .object__price
              .price Цена от <span>1000</span><p>руб.</p>
