section.offer
  .container
    .offer__header.h3-title
      h3 мы предлагаем
    .offer__subheader.red-strong
      strong.
        установку различного оборудования специально разработанного<br>
        для ресторанного и отельного бизнеса.
    .offer__text.red-strong-span
      strong.
        <span>Разрабатываем</span> прикладные решения для государственных и коммерческих организаций.
      strong.
        Мы поможем сделать ваше заведение технологичным и более комфортным для клиентов и работников,
        не нарушив общий стиль и дизайн.
      strong.
        Предлагаем вам самые интересные варианты, которые подойдут именно вам.
  .img-border(style="background-image: url(img/ofice_background.jpg)")