section.pos
  .pos__wrapper
    .pos__img.left-background
      img(src="img/Waiter.jpg", alt="Waiter")
    .container
      .pos__right.right-container
        .pos__header.h3-title
          h3 POS системы
        .pos__text.text-block
          p.
            <strong>Мы предлагаем автоматизацию магазинов за счёт современных POS-систем.</strong>
          p.
            POS-системы пришли на смену автономным и пассивным контрольно-кассовым машинам и имеют
            более гибкие возможности обновления ПО.
        .pos__list-title.h4-title
          h4 Преимущества:
        .pos__list.list.block
          ul
            li.
              комфорт в использовании;
            li.
              совместимость с другой POS периферией;
            li.
              высокая скорость расчётов.
.pos__offer
  .container
    .object
      ul
        li
          .object__title
            strong Сенсорный моноблок
          .object__model
            strong наименование товара
          .object__desc
            p.
              Сенсорный POS-терминал 15 ", для автоматизации рабочего места.
              Intel Celeron J1900, 4Gb RAM, 64Gb SSD. Защита от воды, пыли, грязи.
              Цвет: черный, белый.
          .object__img
            img(src="img/Touch_monoblock.png", alt="set")
          .object__price
            .price Цена от <span>1000</span><p>руб.</p>
        li
          .object__title
            strong Сенсорный моноблок
          .object__model
            strong наименование товара <span>+ ридер</span>
          .object__desc
            p.
              Сенсорный POS-терминал 15 ", для автоматизации рабочего места.
              Intel Celeron J1900, 8Gb RAM, 64Gb SSD, WI-FI, Bluetooth.
              Защита от воды, пыли, грязи.
              Ридер магнитных карт.
              Цвет: черный, серебрянный.
          .object__img
            img(src="img/Touch_monoblock_reader.png", alt="set")
          .object__price
            .price Цена от <span>1000</span><p>руб.</p>
        li
          .object__title
            strong 2D сканер штрих-кодов
          .object__model
            strong наименование товара
          .object__desc
            p.
              Беспроводной. 300 скан/сек.
              Цвет: черный, белый.
          .object__img
            img(src="img/2D_barcode_scanner.png", alt="set")
          .object__price
            .price Цена от <span>1000</span><p>руб.</p>
  
  
  