section.top-banner(style="background-image: url(img/backgraund_HoReCa.jpg)")
  .container
    .top-banner__header.black.big
      h1 HoReCa
      span.
        Оборудование для индустрии питания<br> и гостеприимства