section.alarm
  .container
    .alarm__header.h3-title
      h3 Установка сигнализации
    .alarm__text.text-block
      p.
        <strong>В нашем сервисном центре вам установят охранную систему «под ключ»,
        проведут сервисное обслуживание, настроят и протестируют автосигнализацию.</strong>
      p.
        В надёжной защите нуждаются не только легковые, но и грузовые авто,
        перевозящие дорогостоящий груз.
      p.
        Мы предлагаем установку специализированной охранной системы, которая
        не только защитит кабину, но и грузовой отсек.
    .alarm__list-block.row.just-between
      .alarm__item1
        .alarm__list-title.h4-title
          h4 В охранную систему сигнализации дополнительно можно установить:
        .alarm__list.list.block
          ul
            li.
              Иммобилайзер – прибор, который при необходимости может заглушить двигатель.
            li.
              Схемы, которые включены в цепь при запуске двигателя.
            li.
              GPS.
            li.
              Прибор для удалённого запуска двигателя, который оценит водитель в холодное время года.
        .alarm__txt
          p.
            <strong>Сигнализация на грузовой автомобиль</strong> имеет более надёжную защиту,
            а соответственно и стоит дороже.
      .alarm__item2
        .alarm__img
          img(src="img/Immobilizer.png", alt="Immobilizer")



