section.calling
  .container
    .calling__wrapper
      .calling__container
        .calling__logo
          include ../../components/header-logo
        .calling__title.center-call.up
          h3 Звоните!
          span.
            наши менеджеры всегда на связи<br>
            и готовы вас проконсультировать.
  .img-border.border-big(style="background-image: url(img/background_Service.jpg)")