section.serv-center
  .serv-center__top
    .container
      .serv-center__header.h3-title
        h3 сервисный центр ооо «кубань техно групп»
      .serv-center__title
        h4 диагностика и установка современного оборудования
        span с высокими показателями надёжности на грузовые, легковые авто и другие транспортные средства.
  .serv-center__bottom
    .left-background
      img(src="img/pic_Taho.jpg", alt="pic_Taho")
    .container
      .serv-center__wrapper
        .serv-center__right-container.right-container
          .serv-center__list-title.h4-title.red-span
            h4 <span>Почему обращаются к нам:<span>
          .serv-center__list.list.red-list
            ul
              li.
                <span>Качественный сервис за адекватную цену.</span>
                Мы не завышаем стоимость услуг. Для нас важнее, долгосрочное сотрудничество.
              li.
                <span>Быстрота реагирования.</span> Мы свяжемся по любому удобному для вас мессенджеру
                в день обращения и согласуем время выезда технического работника на место.
              li.
                <span>Современное оборудование.</span> Мы сотрудничаем с заводами производителями
                оборудования, благодаря чему у нас в наличии все необходимые высококачественные
                инструменты.