section.center-set
  .center-set__top
    .left-background
      img(src="img/car_set.jpg", alt="car_set")
    .container
      .center-set__wrapper
        .center-set__right-container.right-container
          .center-set__title.h3-title
            h3 Установка парктроника
          .center-set__text.text-block
            p.
              Современный парктроник – это компактное, сравнительно недорогое устройство,
              которое поможет водителю совершить манёвр в ограниченном пространстве.
            p.
              Парктоник сигнализирует о препятствиях на пути, которые невозможно увидеть
              в зеркало или окно. Установка прибора не вредит работе электросети авто.
          .center-set__red-title.red-strong
            strong Как это работает.
          .center-set__text.text-block
            p.
              Устанавливают датчик на бампере сзади. В дорогих моделях авто желательно монтировать
              прибор также на передний бампер.
            p.
              Прибор включается, на передаче заднего хода, и отключается при движении вперёд.
            p.
              Передние партроники включаются на первой передаче, и прекращает работать, когда автомобиль
              начинает движение на более высоких передачах.
            p.
              При обнаружении препятствия, водитель услышит сигнал и получит информацию на цифровой
              дисплей о преграде и расстоянии до неё.
  .center-set__bottom
    .container
      .center-set__b-txt.text-block
        p.
          <span>Установка парктроника на грузовой авто</span> снизит риск столкновения не только с препятствиями,
          но и с легковыми авто.
        p.
          На грузовик идёт несколько датчиков с прочным корпусом, которые можно установить на любой поверхности.<br>
          Главный блок устанавливается сзади, который передаёт данные в кабину водителя.

