section.construct
  .container
    .construct__title.h4-title
      h4 Конструктивные параметры:
    .construct__wrapper
      .construct__list.left-group.list
        ul
          li.
            Топливо подаётся из основного топливного бака ТС или
            из независимого топливного бачка, на выбор.
          li.
            Установка системы производится в кабине или под капотом.
          li.
            Воздух для нагрева может забираться как снаружи кабины,
            так и из салона кабины для быстрого прогрева.
          li.
            Летом прибор можно использовать в режиме вентиляции с
            забором наружного воздуха.