section.install
 .left-background
   img(src="img/transport_in_winter.jpg", alt="transport_in_winter")
 .container
   .install__wrapper
     .install__right-container.right-container
       .install__title.h4-title
         h4 Монтаж и сервисное обслуживание автономных воздушных отопительных систем
       .install__text.text-block
         p.
           В холодное время года актуальным вопросом логистики всегда
           будет обогрев салона транспортного средства.
         p.
           Водители грузовых автомобилей и автобусов проводят много времени за рулем,
           и отсутствие комфортных условий, в том числе и низкая температура негативно
           сказывается на качестве рейса и доставке груза.
         p.
           Поддержать комфортную температуру в салоне легкового автомобиля и внедорожника,
           в кабине фуры, в салоне автобуса в холодную пору года поможет автономный воздушный
           отопитель. Прибор также обогреет кабину оператора строительной и дорожной техники, трактора.
         p.
           Отопители производят различной мощности, в зависимости от потребностей. Прибор работает
           на топливе из бака и от аккумулятора автомобиля.
       .install__list-title.h4-title
         h4 Преимущества автономной отопительной системы:
       .install__list.list
         ul
           li невысокая цена;
           li тихий режим работы;
           li экономный расход топлива и электроэнергии;
           li выбор мощности работы в зависимости от температуры в салоне;
           li автоматическая диагностика прибора.

