section.planar
  .container
    .planar__wrapper.row.just-between
      .planar__item
        .planar__img.img-center
          img(src="img/PLANAR_2D.png", alt="PLANAR_2D")
        .planar__info
          .planar__title
            h4 планар 2д
          .planar__price
            .price Цена от <span>19400</span> <p>руб</p>
      .planar__item
        .planar__img.img-center
          img(src="img/PLANAR_4DM2.png", alt="PLANAR_4DM2")
        .planar__info
          .planar__title
            h4 планар 4дМ2
          .planar__price
            .price Цена от <span>19400</span> <p>руб</p>
