section.prop
  .container
    .prop__header.h3-title
      h3 Что мы предлагаем
    .prop__subheader.h4-title
      h4 Установка и обслуживание автомобильных раций.
    .prop__text.text-p
      p.
        Современные автомобильные рации – это компактные
        высокотехнологичные электронные приборы, которые помогают установить
        стабильную связь на большом расстоянии
      p.
        Автомобильные рации используют как крупные транспортные компании для
        связи с водителями-дальнобойщиками, так и водители для связи друг с другом.
    .prop__list.row.just-between
      .prop__item1
        .prop__obj.left-group__list.list
          h4 Параметры автомобильных раций:
          ul
            li.
              Мощность. Оптимальная мощность для радиостанции 10 Вт, что позволяет
              использование внешнего усилителя (100-200 Вт).
            li.
              Число каналов. 4-120 каналов будет достаточно, если радиостанция будет
              использоваться для поездок на небольшие расстояния или
              в небольшом городе. Для дальних поездок лучше установить рацию
              с 240-400 каналами.
          .prop__price
            .price Стоимость рации «Mega jet 600 plus turbo»: <span>6 900</span> <p>руб.</p>
      .prop__item2
        .prop__img
          img(src="img/Mega_jet_600_plus_turbo.png", alt="Mega_jet_600_plus_turbo")