section.solution
  .container
    .solution__title.h4-title
      h4 Это решение подойдёт для:
    .solution__container.row.just-between
      .solution__item
        .solution__icon
          img(src="img/bus_icon.png", alt="bus_icon")
        .solution__text
          span автобусов
      .solution__item
        .solution__icon
          img(src="img/microbus_icon.png", alt="microbus_icon")
        .solution__text
          span микроавтобусов
      .solution__item
        .solution__icon
          img(src="img/truck_icon2.png", alt="truck_icon2")
        .solution__text
          span грузовиков
      .solution__item
        .solution__icon
          img(src="img/truck_with_wagon_icon.png", alt="truck_with_wagon_icon")
        .solution__text
          span тягачей с полуприцепом
      .solution__item
        .solution__icon
          img(src="img/trailer_icon.png", alt="trailer_icon")
        .solution__text
          span домов на колёсах
    .solution__bottom.text-block.up
      p.
        <span>Закажите у нас установку парктроника,</span> и вы получите индивидуальную схему и
        решение, специально разработанное для каждого автомобиля.


