section.center-table
  .container
    .center-table__wrapper
      .table-style
        table
          tr
            th Характеристика
            th Планар 4ДМ2
            th Планар 44Д-GP
            th Планар 8ДМ-12
            th Планар 8ДМ-24
          tr
            td Теплопроизводительность (кВт)
            td 1 - 3
            td 1 - 4
            td 2 - 6
            td 2 - 7.5
          tr
            td Расход топлива (л/час)
            td 0.12 - 0.37
            td 0.12 - 0.51
            td 0.42 - 0.76
            td 0.42 - 0.9
          tr
            td Потребляемая мощность (Вт)
            td 9 - 38
            td 10 - 58
            td 8 - 85
            td 9 - 90
          tr
            td Поток горячего воздуха (м3/час)
            td 70 - 120
            td 70 - 120
            td 70 - 175
            td 70 - 235
          tr
            td Номинальное напряжение питания, (В)
            td 12 / 24
            td 12 / 24
            td 12 / 24
            td 12 / 24
      .table-style
        table
          tr
            th Наименование
            th Цена, руб. (с НДС)
            th Кол. шт.
            th Сумма, руб. (с НДС)
          tr
            td ПЛАНАР 2Д (2 КВт)
            td 19400
            td 1
            td 19400
          tr
            td ПЛАНАР 4ДМ2 (3 КВт)
            td 19400
            td 1
            td 19400
          tr
            td ПЛАНАР 44Д (4 КВт)
            td 21800
            td 1
            td 21800
          tr
            td ПЛАНАР 8ДМ (8 КВт)
            td 28300
            td 1
            td 28300
          tr
            td Монтаж воздушного отопителя
            td 4000
            td 1
            td 4000
