section.children
  .container
    .children__header.h3-title
      h3 Смарт часы для детей с GPS
    .children__wrapper.row.just-between
      .children__item
        .chidren__title.red-strong
          strong Подарите смарт часы своему ребенку
        .children__text.strong-padg
          strong.
            Вы всегда будете знать его местонахождение:
            где он задержался по дороге со школы домой,
            добрался ли вовремя на тренировку.
          strong.
            Часы с GPS трекером передают сигнал
            в режиме реального времени.
      .children__item
        .children__img
          img(src="img/smart_watch.png", alt="smart_watch")