section.dogs-func
  .left-background
    img(src="img/Dog_pic.jpg", alt="Dog_pic")
  .container
    .dogs-func__wrapper
      .dogs-func__right-container.right-container
        .dogs-func__title.h4-title
          h4 Функции трекера:
        .dogs-func__list.icon-list.list-red
          ul
            li.
              <span>Установление специальной безопасной зоны.</span> Если ваш
              питомец ее покинет, вы получите сообщение в виде SMS или уведомления в приложении
            li.
              <span>Прибор водонепроницаемый.</span> Вы можете не беспокоиться,
              если на улице дождь или собака захотела искупаться в речке.
            li.
              На приборе есть <span>яркий светодиодный маячок.</span> Поэтому в тёмное
              время суток ваш питомец всегда будет виден. Подсветка
              включается автоматически.
        .dogs-func__strong.strong
          strong Зарядить устройство можно от сети или от ПК.
        .dogs-func__price
          .price ЦЕНА от <span>478</span> <p>руб.</p>