section.fordogs
  .container
    .fordogs__header.h3-title
      h3 GPS трекер для собак
    .fordogs__wrapper.row.just-between
      .fordogs__item
        .fordogs__text.strong-padg.uppercase
          strong.
            Подарив четвероногому другу поисковый трекер-брелок,
          span.
            вы будете не только знать местонахождение питомца,
            но и сможете быстро разыскать «потеряшку».
        .fordogs__txt.text-p
          p.
            Устройство недорогое, но изготовлено из качественных материалов.
            Брелок можно прикрепить на ошейнике или попоне собаки.
          p.
            После этого прибор нужно синхронизировать с мобильным устройством через
            беспроводное соединение Bluetooth под iOS/Android, и вы будете получать
            сигнал в режиме реального времени.
      .fordogs__item2
        .fordogs__img
          img(src="img/forgods_img.png", alt="forgods_img")