section.function
  .left-background
    img(src="img/children_pic.jpg", alt="children_pic")
  .container
    .function__wrapper
      .function__right-container.right-container
        .function__title.h4-title
          h4 Функции детских умных часов:
        .function__list.icon-list.list-red
          ul
            li.
              <span>Передача сигнала GPS на смартфон.</span> Часы работают в общей системе с
              приложением, которое можно бесплатно скачать для IOS или Android.
            li.
              <span>Будильник.</span> Можно зафиксировать контрольное время для сигнала. Напоминалка
              сработает и даст знать, что ребёнку пора идти домой с прогулки, собираться
              в спортивную школу или на другой кружок.
            li.
              <span>3 способа передачи сигнала:</span> GPS,  LBS, AGPS работают одновременно.
            li.
              Узнать местоположение ребёнка можно также на  <span>googlemaps,</span>
              которые установлены на вашем смартфоне
            li.
              <span>Настройка для получения SMS,</span> в котором будет указано местоположение.
            li.
              Возможность осуществлять <span>голосовой вызов и вызов на номер телефона,</span>
              который привязан к часам.
            li.
              <span>При срабатывании кнопки SOS,</span> часы будут связываться с 5-ю
              абонентами по очереди, пока не получат ответ.
            li.
              <span>Geo-забор.</span> Часы предупредят вас, если ребенок нарушил границы,
              установленной вами зоны безопасности.
            li.
              <span>Возможность принять входящий звонок при нажатии на любую кнопку.</span>
        .function__price
          .price ЦЕНА от <span>478</span> <p>руб.</p>