section.sets
  .container
    .sets__wrapper.row.just-between
      .sets__item
        .sets__img
          img(src="img/mini_tracker.png", alt="mini_tracker")
      .sets__item
        .sets__title.h4-title
          h4 Параметры:
        .sets__list.list
          ul
            li Gps чип: встроенный;
            li точность сигнала: 5-15 м;
            li частота: GSM 850/900/1800/1900 мГц;
            li водонепроницаемость: IP65;
            li режим: быстрый, стандарт, энергосберегающий;
            li поиск: поддержка поиска в режиме реального времени;
            li отключение: дистанционное;
            li поддержка: бесплатное приложение для Android и IOS;
            li маршрут: сохранение данных в архиве до 3-х месяцев.
        .sets__price
          .price ЦЕНА от <span>478</span> <p>руб.</p>
  .img-border(style="background-image: url(img/Children_background.jpg)")