section.top-banner(style="background-image: url(img/backgraund_GPS.jpg)")
  .container
    .top-banner__header.white.big
      h1 Gps трекер
      span.
        контроль местоположения детей,<br>
        пожилых людей,<br>
        домашних питомцев