section.tracker
  .container
    .tracker__header.h3-title
      h3 Gps трекер
    .tracker__wrapper.row.just-between
      .tracker__left
        .tracker__item.icon-item
          .icon-item__icon
            img(src="img/map_icon.png", alt="map_icon")
          .icon-item__text-block
            strong Главная функция минитрекеров:
            span.
              передача информации о местоположении ребенка на смартфон кого-то из родителей.
              GPS трекер поможет всегда знать местонахождение вашего ребенка.
        .tracker__item.icon-item
          .icon-item__icon
            img(src="img/map_icon.png", alt="map_icon")
          .icon-item__text-block
            span.
              Это изящное устройство с современным
              дизайном в виде брелока. Его легко спрятать в рюкзаке,
              сумке или во внутреннем кармане куртки.
      .tracker__right
        .tracker__item.icon-item
          .icon-item__icon
            img(src="img/map_icon.png", alt="map_icon")
          .icon-item__text-block
            span.
              Также трекер будет очень полезен, если у вас есть пожилой член семьи.
              Вы всегда без опасения сможете отпустить бабушку, дедушку или пожилого родителя на
              прогулку и проследить его маршрут следования.<br>
              На приборе есть тревожная кнопка, которая легко наживается.
        .tracker__item.icon-item
          .icon-item__icon
            img(src="img/map_icon.png", alt="map_icon")
          .icon-item__text-block
            span.
              В экстренном случае ребёнок или пожилой человек может мгновенно связаться с вами.
              Есть возможность осуществления голосовой связи.