section.tacho
  .container
    .tacho__wrapper
      .tacho__top-text
        p.
          <strong>Тахограф</strong> – устройство, которое регистрирует скорость авто, режим труда и
          отдыха водителей.<br> Устанавливается на борту автотранспортного средства.
      .tacho__row.row.just-between
        .tacho__img
          img(src="img/taho_pic.png", alt="taho_pic")
        .tacho__text-block
          .tacho__txt
            p.
              <strong>В соответствии с требованиями российского законодательства</strong><br> тахографами
              должны быть оснащены такие категории и виды транспортных средств:
          .tacho__list.icon-list
            ul
              li грузовые автомобили, которые перевозят опасные грузы
              li автобусы, которые перевозят пассажиров (более 9 мест)
              li грузовики, которые осуществляют междугородные перевозки с массой более 15 тонн);
              li грузовики с массой от 12 до 15 тонн;
              li грузовые автомобили массой от 3,5 до 12 тонн;
              li все транспортные средства, которые совершают международные перевозки пассажиров.
      .tacho__bottom-text
        p.
          <span>С июля 2019 г.</span> контрольные устройства должны быть на
          автобусах и микроавтобусах внутригородских маршрутов.<br>
          <strong>За управление авто без тахографа или с неработающим прибором накладывается штраф:</strong>
      .tacho__penalty
        .tacho__penalty-icon
        .tacho__driver
          p на водителя – <strong>3000 руб.</strong>
        .tacho__org
          p на организацию – <strong>10 000 руб.</strong>
      .tacho__order.text-p
        p.
          В соответствии с Приказом № 36 Министерства Транспорта Российской Федерации с 2016 года
          к установке на транспортные средства для коммерческих перевозок разрешены только
          цифровые приборы с модулем СКЗИ, который защищает оборудование от взлома или от
          передачи неверных данных.
  .img-border(style="background-image: url(img/Taho_close_up.jpg)")