section.tacho-service
  .container
    .tacho-service__header.h3-title
      h3 наши услуги
    .tacho-service__text.inside-text
      p.
        <strong>Кубань Техно Групп</strong> является официальной аккредитированной компанией
        по оснащению техники тахографами с модулем СКЗИ и обслуживанию устройства.
    .tacho-service__adv.inside-text
      p <strong>Мы предлагаем</strong> следующие услуги на максимально выгодных для вас условиях:
    .tacho-service__flex.row.just-between
      .tacho-service__item
        .tacho-service__object
          .tacho-service__info
            .tacho-service__info-text.
              <span>установка</span> тахографов с СКЗИ
              от ведущего российского производителя.
              <strong>АТОЛ DRIVE Smart (СКЗИ).</strong>
            .tacho-service__info-price
              .price тахограф цена от <span>26 000</span> <p>руб.</p>
        .tacho-service__object
          .tacho-service__info
            .tacho-service__info-text.
              <span>Монтаж</span> тахографа.
            .tacho-service__info-price
              .price Стоимость услуги от <span>26 000</span> <p>руб.</p>
        .tacho-service__object
          .tacho-service__info
            .tacho-service__info-text.
              <span>Замена блока СКЗИ:</span> плановая 1 раз в 3 года.
              Согласно Правилам обслуживания тахографов, установленных на
              транспортные средства Приказа 36 п 10.3.
            .tacho-service__info-price
              .price Стоимость услуги от <span>26 000</span> <p>руб.</p>
      .tacho-service__item
        .tacho-service__object
          .tacho-service__info
            .tacho-service__info-text <span>Калибровка</span> тахографа:
              ul
                li непосредственно после установки;
                li плановая: 1 раз в 3 года
                li в случае смены резины, изменения ВИН номера, ремонта коробки передач и самого тахографа.
            .tacho-service__info-price
              .price Стоимость услуги от <span>26 000</span> <p>руб.</p>
        .tacho-service__object
          .tacho-service__info
            .tacho-service__info-text.
              <span>проверка</span> тахографов.
            .tacho-service__info-price
              .price Стоимость услуги от <span>26 000</span> <p>руб.</p>
        .tacho-service__object
          .tacho-service__info
            .tacho-service__info-text.
              <span>Активация</span> тахографов после установки для корректной работы.
            .tacho-service__info-price
              .price Стоимость услуги от <span>26 000</span> <p>руб.</p>
    .tacho-service__hide.js-hide2
      .tacho-service__bottom
        p.
          Согласно Приказу № 36 от 13.02.2013 г. Министерства Транспорта РФ, тахограф,
          установленный на транспортном средстве в обязательном порядке должен быть оборудован
          средством криптографической защиты информации – блоком СКЗИ.
      .tacho-service__rules
        .tacho-service__rul-obj
          h4 В каких случаях нужна замена СКЗИ
          p.
            <strong>1. Память в блоке имеет ограничения</strong> поэтому, когда она полностью забита,
            тахограф перестаёт записывать данные.
          p В этот период вы не сможете отслеживать:
          ul
            li с какой скоростью движется автосредство;
            li сколько времени водитель провёл за рулём, а сколько отдыхал;
            li какое расстояние преодолела машина.
          p.
            А главное, при осуществлении контроля авто сотрудником соответствующей
            службы, будет зафиксировано нарушение законодательства. В таком случае
            предусмотрен штраф (ст. 11.23 КоАП РФ) на водителя от 1 000 до 3 000 рублей
            и на владельца ТС от 5 000 до 10 000 рублей.
        .tacho-service__rul-obj
          p.
            <strong>2. Плановая  замена блока СКЗИ</strong><br>
            По Правилам обслуживания тахографа блок СКЗИ необходимо менять каждые 3 года.
            Время засекается с момента активации (Приказ 36 п 10.3).
        .tacho-service__rul-obj
          p.
            <strong>3. Изменение данных, которые вносятся при активации СКЗИ</strong><br>
            Согласно Правилам эксплуатации тахографа Приказа  №36 п 2.1 для активации блока вносятся такие данные (Приказ 36 п 2.1):
          ul
            li организация, за которой закреплено автотранспортное средство;
            li основной государственный регистрационный номер предприятия;
            li индивидуальный номер налогоплательщика;
            li регион − код по классификатору;
            li населённый пункт и адрес.
          p.
            Также необходимо внести информацию об автотранспортном средстве такие как: марка авто, год выпуска, цвет, регистрационный номер, идентификационный номер транспортного средства (VIN) и паспорт (ПТС).
            Соответственно, если хоть один пункт из этих данных меняется, нужно провести замену блока.
        .tacho-service__rul-obj
          h3 Как заменить СКЗИ
          p.
            Закон разрешает осуществлять замену блока только в лицензированных мастерских.<br>
          p.
            <strong>Кубань техно групп</strong> имеет все необходимые лицензии на полный
            комплекс услуг по обслуживанию приборов, осуществляющих технический контроль
            автотранспортных средств, в том числе и на замену СКЗИ.
            Мы производим замену блока по всем правилам, установленным законодательством Российской Федерации.
        .tacho-service__rul-obj
          h3 Замена блока питания тахографа
          p.
            Кроме блока СКЗИ, необходимо производить замену батарейки на тахографе.
            Как правило, это делают во время калибровки (раз в 3 года). Если вовремя не заменить
            блок питания, то тахограф, в какой-то момент, может просто отключиться.
            А это повлечёт за собой потерю данных и штрафы во время внезапной проверки.
        .tacho-service__rul-obj
          p.
            Снятие (установка) тахографа с заменой блока СКЗИ, а так же его деактивация
            осуществляется бесплатно.
    .about__toggle.js-about2
      i.about__tiangle.js-tgl2
      p Подробнее...
    .tacho-service__waranty
      p На все работы мы даем гарантию.
    .tacho-service__specialists
      p.
        Наши специалисты квалифицированно заменят батарею, сделают ремонт и демонтаж устройства.
      p.
        После того, как мы установим и активируем тахограф, вы получаете на руки паспорт и сертификат
        с отметками о монтаже и калибровке.
