.section.agronav.relative
    .container
        .agronav__wrapper.row.revers
            .agronav__img-object
                img(src="img/agronav.png", alt="agronavigator")
            .img-right-wrapper
                .agronav__title.h3-title
                    h3 Агронавигатор<br> и система параллельного вождения
                .agronav__description.strong
                    strong.
                        Оборудование, которое просто необходимо механизатору
                        для точного попадания в ряды и контроля обработки участков поля.
                .agronav__plus
                    .agronav__plus-title.plus
                        span Плюсы:
                    .agronav__plus-items.row.just-between
                        .agronav__item
                            .agronav__img.an-img1
                            .agronav__txt.an-txt1
                                p.
                                    Экономия посевного материала, гербицидов, ГСМ
                        .agronav__item
                            .agronav__img.an-img2
                            .agronav__txt.an-txt2
                                p.
                                    Возможность не прерывать работу
                                    в ночное время, при плохой видимости в
                                    тумане или при повышенной запыленности
                    .agronav__price
                        .price ЦЕНА от <span>478</span> <p>руб.</p>
