section.aviation
    .container
        .left-group
            .aviation__title.h2-title
                h2 Устали считать потери с урожая?
            .aviation__truble
                span Дожди, засуха, насекомые-вредители, недобросовестные работники.
            .aviation__proposal.red-txt
                span.
                    Мы предлагаем вам решение проблем и увеличение прибыли<br>
                    за счёт автоматизации производства.
            .aviation__service
                .h3-title
                    h3 Услуги беспилотных авиационных систем
                .aviation__help
                    strong.
                        Аппараты помогают контролировать все этапы с/х производства,
                        осуществлять биологическую и химическую обработку посевов.
                .aviation__list.left-group__list.list
                    .h4-title
                        h4 Выполняют следующие функции:
                    ul
                        li создают электронную карту поля;
                        li оценивают объем работы на сельхозугодиях;
                        li мониторят состояние посевов: оценка всхожести, прогноз урожая;
                        li.
                            дают возможность малообъемного опрыскивания для уничтожения вредителей
                            и профилактики заболеваний растений.
                .aviation__txt
                    p.
                        Применение БПЛА для дозированного рассева «трихтограммы» позволяет
                        обрабатывать большие площади полей, в минимальные сроки, значительно
                        снизив расходы на химическую обработку,
                        и на аналогичную обработку малой авиацией.
                .aviation__price-block
                    .price ЦЕНА от <span>478</span> <p>руб.</p>
                    .aviation__more-txt
                        p Более подробно о беспилотных авиационных системах смотрите здесь:
                    .aviation__buttons
                        a.aviation__btn.mid-btn.btn-red.btn.js-btn(href="img/exampl.PDF", data-fancybox="aviation", ) смотреть сейчас
                        a.aviation__btn.mid-btn.btn-grey.btn.left-marg(href="img/exampl.PDF", download) скачать PDF
            .left-group__img
                img(src="img/av_dron.jpg", alt="dron")
.img-border(style="background-image: url(img/dron_background.jpg)")

