section.calling
    .container
        .calling__wrapper
            .calling__container
                .calling__logo
                    include ../../components/header-logo
                .calling__proposall
                    strong.
                        Также мы предлагаем приборы для контроля: пробега, расхода топлива
                        и скоростного режима сельскохозяйственного транспорта.
                .calling__title
                    h3 Звоните и мы проконсультируем,
                    strong.
                        разработаем для вас
                    span.
                        индивидуальное решение<br>
                        и установим необходимое оборудование<br>
                        для максимальной автоматизации производства.
                .calling__now
                    strong.
                        Теперь ваша сельхозтехника и поля
                        будут под контролем!
                .calling__icons.row.just-between
                    .calling__icon.cg-icon1
                    .calling__icon.cg-icon2
                    .calling__icon.cg-icon3
                    .calling__icon.cg-icon4
.img-border(style="background-image: url(img/sprouts_background.jpg)")