section.control
    .container
        .control__wrapper
            .control__title
                .h3-title
                    h3 Контроль раздачи топлива с топливозаправщиков
            .control__description.strong
                strong.
                    Мы предлагаем организацию автоматической регистрации раздачи топлива
                    с использованием пластиковых карт, с&nbsp;возможностью блокировать раздачу.
            .control__list-block
                .control__list-title.plus
                    span Особенности устройства:
                .control__list.list
                    ul
                        li.
                            наличие модуля на счётчике – раздача топлива только
                            на разрешенный транспорт;
                        li.
                            электронный индикатор исключит ошибки оператора при записи
                            показаний и, при необходимости, поможет организовать отгрузку ночью.
            .control__icons.row.just-between
                .control__icon.cl-icon1
                .control__arrow
                .control__icon.cl-icon2
                .control__arrow
                .control__icon.cl-icon3
            .control__price
                .price ЦЕНА от <span>478</span> <p>руб.</p>
