section.integration(style="background-image: url(img/1C_background.jpg)")
    .container
        .integration__wrapper
            .integration__title.h3-title
                h3 Полная интеграция с 1С УАТ
            .integration__description.strong
                strong.
                    Специализированная программа «1С: Управление автотранспортом» дает
                    возможность синхронизировать данные и вести комплексный учет и контроль сельскохозяйственных
                    предприятий и фермерских хозяйств.
            .integration__list-block
                .intagration__list-title.plus
                    span Плюсы:
                .integration__list.list
                    ul
                        li контроль над расходом ресурсов;
                        li.
                            возможность сбора, хранения, обработки
                            данных для дальнейшего решения производственных задач любой сложности;
                        li Полная автоматизация тех. Процессов.
