section.meteo.grey-bg
    .container
        .meteo__wrapper.row.just-between
            .meteo__left
                .meteo__img
                    img(src="img/meteo_pic.png", alt="meteo")
            .meteo__right
                .meteo__title.h3-title
                    h3 Метеостанция
                .meteo__description.strong
                    strong.
                        Метеостанции помогают планировать сельскохозяйственные
                        мероприятия с учётом погодных условий.
                .meteo__list-block
                    .meteo__plus.plus
                        span Плюсы:
                    .meteo__list.list
                        ul
                            li точный прогноз погоды для вашей локации (1-5дней);
                            li анализ климатической ситуации на поле;
                            li вы зараннее будете предупреждены о плохих погодных условиях: заморозках, засухе, ливнях и т.п.
                            li простота в эксплуатации.
                .meteo__icons.row.just-between
                    .meteo__icon.row-icon.r-icon1
                    .meteo__icon.row-icon.r-icon2
                    .meteo__icon.row-icon.r-icon3
                    .meteo__icon.row-icon.r-icon4
                .meteo__price
                    .price ЦЕНА от <span>478</span> <p>руб.</p>

