section.top-banner.selhoz(style="background-image: url(img/selhoz_banner.jpg)")
    .container
        .top-banner__header
            h1 Как увеличить прибыль
            span производителю<br> сельскохозяйственной продукции